<div class="uk-margin" >
     <a class="md-btn md-btn-default md-btn-wave-light md-btn-icon uk-margin-right " 
     ng-click="create()">
        <i class="uk-icon-plus uk-text-success"></i>
        {{'ACTION.CREATE' | translate}}
    </a>
    <a class="md-btn md-btn-default md-btn-wave-light md-btn-icon uk-margin-right  " ng-click="rename()">
        <i class="uk-icon-pencil uk-text-default"></i>
        {{'ACTION.RENAME' | translate}}
    </a>
    
    <a class="md-btn md-btn-default md-btn-wave-light md-btn-icon uk-margin-right  "  ng-click="remove()">
        <i class="uk-icon-trash uk-text-danger"></i>
        {{'ACTION.REMOVE' | translate}}
    </a>

</div>
<div ng-attr-id="{{treeId}}"  class="fancytree-checkbox">
 
</div>