<div id="page_content">

	<div id="page_content_inner">
		<div class="md-card uk-margin-medium-bottom">
			<div class="md-card-toolbar">
				<h3 class="md-card-toolbar-heading-text large">
					{{'PAGE.LMS.MY_PROGRAMS.PROGRESSBOARD.MEMBER_LIST'|translate}}</h3>
				<!--<button class="md-btn buttons-csv buttons-html5" type="button"-->
					<!--ng-csv="vm.scoreboardListCsv" csv-header="vm.headerArrCsv"-->
					<!--filename="ReportExamList.csv"-->
					<!--style="margin-top: 8px; margin-left: 30px;" ng-show="vm.scoreboardListCsv.length == vm.candidates.length">-->
					<!--<i class="uk-icon-file-excel-o" aria-hidden="true"></i>-->
					<!--{{"ACTION.EXPORT" | translate}}-->
				<!--</button>-->
				<export-excel tableid="tableToExportProgressBoardProgram" style="margin-left: 10px;"></export-excel>
			</div>
			<div class="content-table-gradebook md-card-content">
				<div class="uk-overflow-container">
					<table class="uk-table uk-table-nowrap uk-table-condensed ">
						<thead>
							<tr>
								<th class=" uk-text-center">{{'MODEL.USER.AVATAR'|translate}}</th>
								<th class=" uk-text-center ">{{'MODEL.USER.DISPLAY_NAME'|translate}}</th>
								<th class="  uk-text-center">{{'MODEL.MEMBER.REGISTER_DATE'|translate}}</th>
								<th class=" uk-text-center  ">{{'MODEL.MEMBER.STATUS'|translate}}</th>
								<th class=" uk-text-center  ">{{'MODEL.MEMBER.ENROLL_STATUS'|translate}}</th>
								<th class=" uk-text-center ">{{'MODEL.MEMBER.PROGRESS'|translate}}</th>
								<th class="uk-text-center" ng-show="vm.schedule.competency">{{'ACTION.AUTHORIZE_COMPETENCY'
									| translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="member in vm.members">
								<td class="uk-text-center"><img class="md-user-image"
									src="{{member.member.profileImageURL}}" alt="" /></td>
								<td class="uk-text-center">{{member.member.displayName}}</td>
								<td class="uk-text-center">{{member.registered | date:'dd-MM-yyyy'}}</td>
								<td class="uk-text-center"><span ng-show="member.status=='active'"
									class="uk-badge uk-badge-success">active</span> <span
									ng-show="member.status=='withdrawn'"
									class="uk-badge uk-badge-warning">withdrawn</span> <span
									ng-show="member.status=='suspended'"
									class="uk-badge uk-badge-danger">suspended</span></td>
									
									<td class="uk-text-center"><span
								ng-show="member.enrollmentStatus=='registered'"
								class="uk-badge uk-badge-default">registered</span>  <span
								ng-show="member.enrollmentStatus=='completed'"
								class="uk-badge uk-badge-success">completed</span></td>
		
								<td class="uk-text-center"><span class="uk-text-small">{{member.progress.completeCount}}
										/ {{vm.program.courses.length}}</span></td>

								<td class="uk-text-center" >
									<a ng-show="member.enrollmentStatus!='completed' && member.progress.completeCount!=vm.program.courses.length"
									ng-click="vm.certify(member)"
									data-uk-tooltip="{pos:'right'}"
									title="{{'ACTION.AUTHORIZE_COMPETENCY'|translate}}"><i
										class="md-icon material-icons uk-text-primary">content_paste</i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div style="display: none" id="tableToExportProgressBoardProgram">
				<table class="uk-table uk-table-nowrap uk-table-condensed ">
					<thead>
						<tr>
							<th class=" uk-text-center ">{{'MODEL.USER.DISPLAY_NAME'|translate}}</th>
							<th class="  uk-text-center">{{'MODEL.MEMBER.REGISTER_DATE'|translate}}</th>
							<th class=" uk-text-center  ">{{'MODEL.MEMBER.STATUS'|translate}}</th>
							<th class=" uk-text-center  ">{{'MODEL.MEMBER.ENROLL_STATUS'|translate}}</th>
							<th class=" uk-text-center ">{{'MODEL.MEMBER.PROGRESS'|translate}}</th>
							<!--<th class="uk-text-center" ng-if="vm.schedule.competency">{{'ACTION.AUTHORIZE_COMPETENCY'-->
								<!--| translate}}</th>-->
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="member in vm.members">
						<td class="uk-text-center">{{member.member.displayName}}</td>
						<td class="uk-text-center">{{member.registered | date:'dd-MM-yyyy'}}</td>
						<td class="uk-text-center">
							<span ng-if="member.status=='active'" class="uk-badge uk-badge-success">active</span>
							<span ng-if="member.status=='withdrawn'" class="uk-badge uk-badge-warning">withdrawn</span><span ng-if="member.status=='suspended'" class="uk-badge uk-badge-danger">suspended</span>
						</td>
						<td class="uk-text-center">
							<span ng-if="member.enrollmentStatus=='registered'" class="uk-badge uk-badge-default">registered</span>
							<span ng-if="member.enrollmentStatus=='completed'" class="uk-badge uk-badge-success">completed</span>
						</td>
						<td class="uk-text-center"><span class="uk-text-small">{{member.progress.completeCount}}
										| {{vm.program.courses.length}}</span></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



