<div class="uk-alert uk-alert-warning uk-margin" data-uk-alert
	ng-show="vm.alert">
	<p class="uk-text-center">
		<span>{{vm.alert}}</span> <br>
</div>
<div id="page_content" ng-show="!vm.alert" ui-view="">
	<div id="page_content_inner">
		<div class="uk-width-medium-1-1 uk-container-center">
			<div class="md-card md-card-single" single-card>
				<div class="md-card-toolbar">
					<h3 class="md-card-toolbar-heading-text large">
						{{'PAGE.LMS.MY_COURSES.STUDENT_BOARD.CLASSROOM'|translate}}</h3>
				</div>
				<div class="md-card-content" style="overflow: auto">
					<div class=" uk-margin" ng-class="vm.classroom.titleClass">
						<div>{{vm.classroom.name}}</div> 
						<span class="uk-text-small uk-text-italic ">{{'MODEL.CLASSROOM.END_DATE'|translate}}
							: {{vm.classroom.endDate | date :'dd-MM-yyyy'}}</span> <span
							class="uk-text-small uk-text-italic ">{{'MODEL.CLASSROOM.START_DATE'|translate}}
							: {{vm.classroom.startDate | date :'dd-MM-yyyy'}}</span>
						<div >
							<a class="md-btn md-btn md-btn-primary" target="_blank"
								ng-click="vm.joinConference(vm.classroom)"
								ng-show="vm.classroom ">{{'ACTION.JOIN'|translate}}</a>
						</div>
					</div>
					<div class="uk-grid uk-margin">
					<div class="uk-overflow-container uk-width-1-2">
						<h4>
							{{'MODEL.CLASSROOM.TEACHER'|translate}} : {{vm.classroom.teacher.member.displayName}}</h4>
						<h4>
							{{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.STUDENT_LIST'|translate}}</h4>
						<table class="uk-table uk-table-nowrap uk-table-condensed">
							<thead>
								<tr>
									<th class="uk-width-1-10 uk-text-center">{{'MODEL.USER.AVATAR'|translate}}
									</th>
									<th class="uk-width-2-10 uk-text-center">{{'MODEL.USER.DISPLAY_NAME'|translate}}
									</th>
			
						
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="member in vm.members">
									<td class="uk-text-center"><img class="md-user-image"
										src="{{member.member.profileImageURL}}" alt="" /></td>
									<td class="uk-text-center">{{member.member.displayName}}</td>
	

								</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
</div>
</div>