 <div class="uk-margin">
                    <div id="progress_chart" class="c3chart"></div>
                    </div>
                    
                    <div ng-repeat="node in nodes">
                        <div class="uk-grid uk-grid-divider" data-uk-grid-margin >
                        
                            <div class="uk-width-medium-1-4" >
                                      <span class="heading_b">{{node.data.name}}</span>
                            </div>
                            <div class="uk-width-medium-3-4" >
                                <div ng-repeat="childNode in node.childList" class="uk-margin-bottom">
                                <h3 class="heading_c uk-margin-bottom uk-text-primary" >
                                    {{childNode.data.name}} ({{childNode.quiz.correctCount}}/{{childNode.quiz.questions.length}})
                                    <exam-result exam="childNode.quiz" answers="childNode.latestAttempt.answers"></exam-result>
                                </h3>
                                
                                <span class="sub-heading uk-margin-right" ng-show="!childNode.quiz || childNode.quiz.questions.length==0">{{'ERROR.COURSE_STUDY.QUESTION_NOT_FOUND'|translate}}</span>
                                    <span class="sub_heading uk-margin-right" ng-show="childNode.quiz.questions.length">{{'PAGE.LMS.MY_COURSES.COURSE_GRADE.EXAM_RESULT'|translate}}: </span>
                                <span ng-repeat="question in childNode.quiz.questions" class="uk-margin-right">{{question.mark}}/1 </span>
                                </div>
                            </div>
                            
                         </div>
                            <hr class="uk-grid-divider">
                    </div>