<div class="md-card" ng-repeat="question in questions track by $index">
	<div class="md-card-toolbar">
		<div class="md-card-toolbar-heading-text">
			<span>{{'PAGE.LMS.MY_COURSES.COURSE_STUDY.QUESTION'|translate}}
				{{$index+1}}/{{questions.length}} </span> -
			{{'MODEL.FEEDBACK.TEACHER'|translate}}:
			{{question.feedback.teacher.member.displayName}} <span>{{question.feedback.feedbackDate
				| date :'dd/MM/yyyy'}}</span>
		</div>

		<div class="md-card-toolbar-actions uk-width-3-10 uk-text-right"  ng-if="mode=='mark'">
			<a ng-click="saveFeedback(question)"
				data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}"
				title="{{'ACTION.SAVE'|translate}}"><i
				class="md-icon material-icons ">save</i></a> <a
				ng-click="clearFeedback(question)"
				data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}"
				title="{{'ACTION.CLEAR'|translate}}"><i
				class="md-icon material-icons uk-text-danger">delete</i></a>

		</div>
	</div>

	<div class="md-card-content">
		<div ng-if="mode=='result'">
			<feedback-form mode="'view'" feedback="question.feedback"></feedback-form>
		</div>
		<div ng-if="mode=='mark'">
			<feedback-form mode="'edit'" feedback="question.feedback"></feedback-form>
		</div>

	</div>


</div>