
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">{{'PAGE.DASHBOARD.USER_STATS'
            | translate}}</h3>
        <div
            class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show"
            data-uk-sortable data-uk-grid-margin hierarchical-show>
            <div >
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-float-right uk-margin-top uk-margin-small-right">
                            <i class="material-icons md-36  uk-text-primary">people</i>      
                          </div>
                        <span class="uk-text-muted uk-text-small">{{
                            'PAGE.DASHBOARD.USER_STATS.REGISTER_ACCOUNT'|translate
                            }}</span>
                        <h2 class="uk-margin-remove">
                            <span count-up id="count_1" separator="."
                                ng-model="vm.userRegisterCount">0</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div on-last-repeat>
                <div class="md-card">
                    <div class="md-card-content">
                         <div class="uk-float-right uk-margin-top uk-margin-small-right">
                            <i class="material-icons md-36 uk-text-primary">group</i>      
                          </div>
                        <span class="uk-text-muted uk-text-small">{{
                            'PAGE.DASHBOARD.USER_STATS.USER_ACCOUNT'|translate
                            }}</span>
                        <h2 class="uk-margin-remove">
                            <span count-up id="count_2" 
                                ng-model="vm.accountUserCount">0</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div on-last-repeat>
                <div class="md-card">
                    <div class="md-card-content">
                         <div class="uk-float-right uk-margin-top uk-margin-small-right">
                            <i class="material-icons md-36 uk-text-warning">supervisor_account</i>      
                          </div>
                        <span class="uk-text-muted uk-text-small">{{
                            'PAGE.DASHBOARD.USER_STATS.ADMIN_ACCOUNT'|translate
                            }}</span>
                        <h2 class="uk-margin-remove">
                            <span count-up id="count_3" separator="."
                                ng-model="vm.accountAdminCount">0</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div on-last-repeat>
                <div class="md-card">
                    <div class="md-card-content">
                         <div class="uk-float-right uk-margin-top uk-margin-small-right">
                            <i class="material-icons md-36 uk-text-danger">people_outline</i>      
                          </div>
                        <span class="uk-text-muted uk-text-small">{{
                            'PAGE.DASHBOARD.USER_STATS.BAN_ACCOUNT'|translate
                            }}</span>
                        <h2 class="uk-margin-remove">
                            <span count-up id="count_4" separator="."
                                ng-model="vm.userBanCount">0</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
