<div id="page_content">

    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_actions">
            <button ng-show="vm.course._id" ng-class="{'disabled':vm.course.status=='available'}" class="md-btn md-btn-icon " ng-click="vm.activate()" ><i class="material-icons uk-text-success">lock_open</i>{{'ACTION.COURSE_ACTIVATE' | translate }}</button>
            <button ng-show="vm.course._id"  ng-class="{'disabled':vm.course.status=='unavailable' || vm.course.status=='draft'}"  class="md-btn md-btn-icon " ng-click="vm.deactivate()" ><i class="material-icons uk-text-warning">lock</i>{{'ACTION.COURSE_DEACTIVATE' | translate }}</button>
        </div>
       <h1 ng-show="!vm.course._id">{{'PAGE.CMS.COURSES.CREATE.TITLE' | translate}}</h1>
       <h1 ng-show="vm.course._id">{{'PAGE.CMS.COURSES.UPDATE.TITLE' | translate}} : {{vm.course.name}}</h1>
        <span class="uk-text-upper uk-text-small">
            <a ui-sref="admin.workspace.cms.courses.list"><i class="material-icons uk-text-primary" >keyboard_arrow_left</i>{{'PAGE.CMS.COURSES.TITLE' | translate}}</a> 
            </span>
    </div>

    <div id="page_content_inner">
        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
                <form ng-submit="vm.save()" class="uk-form-stacked" id="courseForm" novalidate>
                 <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#tabs_4'}">
                                <li class="uk-width-1-3 uk-active"><a href="#">{{'PAGE.CMS.COURSES.BASIC_INFO'|translate}}</a></li>
                                <li class="uk-width-1-3"><a href="#">{{'MODEL.COURSE.ENROLL_POLICY'|translate}}</a></li>
                                <li class="uk-width-1-3"><a href="#">{{'PAGE.CMS.COURSES.OTHER'|translate}}</a></li>
                            </ul>
                            <ul id="tabs_4" class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-grid uk-margin-top">
                                <div class="uk-width-medium-3-4 parsley-row">
                                    <label for="course_name">{{'MODEL.COURSE.NAME'|translate}}<span class="req">*</span></label>
                                    <input type="text" name="course_name" id="course_name" data-parsley-trigger="change" required class="md-input"  md-input ng-model="vm.course.name" />
                                </div>
                                <div class="uk-width-medium-1-4 parsley-row">
                                    <label for="course_code">{{'MODEL.COURSE.CODE'|translate}}<span class="req">*</span></label>
                                    <input type="text" name="course_code" id="course_code" data-parsley-trigger="change" class="md-input" md-input ng-model="vm.course.code" />
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-medium-3-4 parsley-row">
                                    <label for="course_summary">{{'MODEL.COURSE.SUMMARY'|translate}}</span></label>
                                    <textarea cols="30" rows="2" name="course_summary" id="course_summary"  class="md-input" ng-model="vm.course.summary" md-input textarea-autosize></textarea>
                                </div>
                                <div class="uk-width-medium-1-4">
                                    <label for="course_logo">{{'MODEL.COURSE.LOGO'|translate}}</label>
                                    <div class="course_heading_avatar fileinput fileinput-new" data-provides="fileinput" file-input-change fileread="vm.logo">
                                        <div class="fileinput-new thumbnail">
                                            <img id="course_logo_img" ng-src="{{vm.course.logoURL?vm.course.logoURL:''}}" alt=""/>
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div class="course_avatar_controls">
                                                <span class="btn-file">
                                                    <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                    <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                    <input type="file" name="logo_control" id="logo_control" >
                                                </span>                                    
                                            <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <input name="course_group" id="course_group" type="text" config="vm.groupConfig" options="vm.groupOptions" ng-model="vm.course.group" selectize />
                                    <span class="uk-form-help-block">{{'MODEL.COURSE.GROUP'|translate}}</span>
                                </div>
                                
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="course_model_select">{{'MODEL.COURSE.MODEL'|translate}}<span class="req">*</span></label>
                                    <div  id="course_model_select">
                                    <span class="icheck-inline" >
                                        <input ng-disabled="vm.course._id" type="radio" name="course_model" id="course_model_self" required value="self-paced" icheck ng-model="vm.course.model" />
                                        <label for="course_model_self" class="inline-label">{{'COMMON.COURSE_MODEL.SELF_STUDY'|translate}}</label>
                                    </span>
                                    <span class="icheck-inline">
                                        <input ng-disabled="vm.course._id" type="radio" name="course_model" id="course_model_group" class="wizard-icheck" value="group" icheck ng-model="vm.course.model" />
                                        <label for="course_model_group" class="inline-label">{{'COMMON.COURSE_MODEL.GROUP_STUDY'|translate}}</label>
                                    </span>
                                    </div>
                                </div>
                                  <div class="uk-width-medium-1-3 parsley-row">          
                                        <label for="course_level_select">{{'MODEL.COURSE.DIFFICULTY'|translate}}</label>
                                        <div  id="course_level_select">
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_level" id="course_easy" required value="easy" icheck ng-model="vm.course.level" />
                                                <label for="course_easy" class="inline-label">{{'COMMON.DIFFICULTY.EASY'|translate}}</label>
                                            </span>
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_level" id="course_medium" required value="medium" icheck ng-model="vm.course.level" />
                                                <label for="course_medium" class="inline-label">{{'COMMON.DIFFICULTY.MEDIUM'|translate}}</label>
                                            </span>
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_level" id="course_hard" required value="hard" icheck ng-model="vm.course.level" />
                                                <label for="course_hard" class="inline-label">{{'COMMON.DIFFICULTY.HARD'|translate}}</label>
                                            </span>
                                        </div>
                
                                </div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label >{{'MODEL.COURSE.DETAIL'|translate}}</label>
                                    <textarea ui-tinymce="vm.tinymce_options" ng-model="vm.course.detail" cols="30" rows="24"></textarea>
                                </div>
                            </div>
                                </li>
                                <li>
                                <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-2" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="switch_enrol">{{'MODEL.COURSE.ENROLL_STATUS'|translate}}</label>
                                    <input  type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" ng-model="vm.course.enrollStatus" id="switch_enrol" />
                                </div>
                                <div class="parsley-row">
                                    <label for="course_enrol_policy_select">{{'MODEL.COURSE.ENROLL_POLICY'|translate}}</label>
                                        <div  id="course_enrol_policy_select">
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_enroll" id="course_enroll_open" required value="open" icheck ng-model="vm.course.enrollPolicy" />
                                                <label for="course_enroll_open" class="inline-label">{{'COMMON.ENROLL_POLICY.OPEN'|translate}}</label>
                                                <span class="uk-form-help-block">{{'COMMON.ENROLL_POLICY.OPEN_DESC'|translate}}</span>
                                            </span>
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_enroll" id="course_enroll_censor" required value="censor" icheck ng-model="vm.course.enrollPolicy" />
                                                <label for="course_enroll_censor" class="inline-label">{{'COMMON.ENROLL_POLICY.CENSOR'|translate}}</label>
                                                <span class="uk-form-help-block">{{'COMMON.ENROLL_POLICY.CENSOR_DESC'|translate}}</span>
                                            </span>
                                            
                                        </div>
                                </div>
                              </div>
                              <div class="uk-grid " data-uk-grid-margin>
                                <div class="uk-width-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="material-icons">&#xE0CD;</i></a>
                                        </span>
                                        <label for="course_phone">{{'MODEL.COURSE.PHONE'|translate}}</label>
                                        <input type="text" class="md-input" name="course_phone" id="course_phone" md-input ng-model="vm.course.phone" />
                                    </div>
                                </div>
                                <div class="uk-width-1-4 parsley-row">
                                    <div class="uk-input-group">
                                        <span class="uk-input-group-addon">
                                            <a href="#"><i class="material-icons">&#xE0BE;</i></a>
                                        </span>
                                        <label for="course_email">{{'MODEL.COURSE.EMAIL'|translate}}</label>
                                        <input type="text" class="md-input" name="course_email" id="course_email" md-input ng-model="vm.course.email" />
                                    </div>
                                </div>
                              <div class="uk-width-2-4 parsley-row">
                                     <label for="course_display_policy_select">{{'MODEL.COURSE.PRESENT_MODE'|translate}}</label>
                                        <div  id="course_display_policy_select">
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_displayMode" id="course_display_public" required value="open" icheck ng-model="vm.course.displayMode" />
                                                <label for="course_display_public" class="inline-label">{{'COMMON.PRESENT_MODE.ALL'|translate}}</label>
                                            </span>
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_displayMode" id="course_display_login" required value="login" icheck ng-model="vm.course.displayMode" />
                                                <label for="course_display_login" class="inline-label">{{'COMMON.PRESENT_MODE.LOGIN'|translate}}</label>
                                            </span>
                                            <span class="icheck-inline" >
                                                <input type="radio" name="course_displayMode" id="course_display_enroll" required value="enroll" icheck ng-model="vm.course.displayMode" />
                                                <label for="course_display_enroll" class="inline-label">{{'COMMON.PRESENT_MODE.ENROLLED'|translate}}</label>
                                            </span>
                                        </div>
                                </div>
                            </div>
                             <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-2" data-uk-grid-margin>
                                <div class="parsley-row">
                                     <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_enroll_start">{{'MODEL.COURSE.ENROLL_START_DATE'|translate}}</label>
                                    <input class="md-input" type="text" id="uk_enroll_start" md-input value="{{vm.course.enrollStartDate | date:'dd.MM.yyyy'}}">
                                </div>
                                </div>
                                <div class="parsley-row">
                                    <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_enroll_end">{{'MODEL.COURSE.ENROLL_END_DATE'|translate}}</label>
                                    <input class="md-input" type="text" id="uk_enroll_end" md-input value="{{vm.course.enrollEndDate | date:'dd.MM.yyyy'}}">
                                </div>
                                </div>
                              </div>
                              <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-2" data-uk-grid-margin>
                                <div class="parsley-row">
                                     <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_course_start">{{'MODEL.COURSE.START_DATE'|translate}}</label>
                                    <input class="md-input" type="text" id="uk_course_start" md-input value="{{vm.course.startDate |date:'dd.MM.yyyy'}}">
                                </div>
                                </div>
                                <div class="parsley-row">
                                    <div class="uk-input-group">
                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                                    <label for="uk_course_end">{{'MODEL.COURSE.END_DATE'|translate}}</label>
                                    <input class="md-input" type="text" id="uk_course_end" md-input value="{{vm.course.endDate | date:'dd.MM.yyyy'}}">
                                </div>
                                </div>
                            </div>

                                </li>
                                <li>
                                <div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin>
                                <div class="uk-width-1-2" style="min-height: 250px;">
                                    <label class="uk-form-label">{{'MODEL.COURSE.PREQUISITE.COURSE'|translate}}</label>
                                    <selectize   config="vm.prequisiteConfig" position="bottom" options="vm.prequisiteOptions" ng-model="vm.course.prequisites" name="course_prequisite" ></selectize>
                                </div>
                                <div class=" uk-width-1-2">
                                    <label class="uk-form-label">{{'MODEL.COURSE.COMPETENCY'|translate}}</label>
                                    <input name="course_competency" id="course_competency" type="text" config="vm.competencyConfig" options="vm.competencyOptions" ng-model="vm.course.competency" selectize />
                                </div>
                            </div>
                            

                                </li>
                            </ul>
                            
                            <div class="md-fab-wrapper">
                                <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent" md-fab-toolbar>
                                    <i class="material-icons">&#xE8BE;</i>
                                    <div class="md-fab-toolbar-actions">
                                        <button form="courseForm"  id="course_edit_save"  data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Save"><i class="material-icons md-color-white">&#xE161;</i></button>
                                        <a id="user_edit_cancel"  ng-click="vm.cancel()"  data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Cancel"><i class="material-icons md-color-white">&#xE5CD;</i></a>
                                        <button  ng-if="vm.course._id && vm.course.status=='draft'"  ng-click="vm.remove()"  id="user_edit_delete" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}" title="Delete"><i class="material-icons md-color-red">&#xE872;</i></button>
                                    </div>
                                </div>
                            </div>
                      </form>
            </div>
        </div>        
    </div>

</div>


