<style>
.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@
keyframes blink-animation {to { visibility:hidden;

}

}
@
-webkit-keyframes blink-animation {to { visibility:hidden;

}
}
</style>
<div class="uk-alert uk-alert-danger" data-uk-alert ng-show="vm.alert">
	{{vm.alert}}
	<div>
		<a class="md-btn md-btn-flat-primary"
			ui-sref="workspace.lms.courses.me">{{'ACTION.RETURN'|translate}}</a>
	</div>
</div>
<div class="uk-grid ">
	<div class="uk-width-9-10 uk-container-center">
		<h2 class="uk-text-primary uk-text-center">{{vm.schedule.name}}</h2>

		<div class="md-card " ng-show="!vm.alert"
			card-progress="{{Math.floor(vm.attemptCount*100/vm.questions.length)}}">
			<div class="md-card-toolbar md-bg-light-green-100">
				<div class="md-card-toolbar-actions">
					<span class="uk-text-danger" ng-class="{'blink':vm.timeUp}">
						<i class="uk-icon-clock-o uk-text-danger"></i> {{vm.remainTime |
						timeString}}
					</span>
				</div>
				<div class="md-card-toolbar-heading-text">
					<span>{{'PAGE.LMS.MY_COURSES.COURSE_STUDY.QUESTION'|translate}}
						{{vm.index+1}}<span ng-show="vm.question.grouped">-{{vm.subIndex+1}}</span>/{{vm.questions.length}} </span> <i
						ng-show="vm.question.attempted"
						class="material-icons uk-text-success">flag</i> <i
						ng-show="!vm.question.attempted"
						class="material-icons uk-text-danger">flag</i> <i
						ng-show="vm.question.marked"
						class="material-icons uk-text-warning">flag</i>
				</div>
			</div>
			<div class="md-card-content">
				<div class="uk-grid uk-grid-divider">
					<div class="uk-width-7-10">
						<div ng-if="vm.question.type=='mc'">
							<multiple-choice-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></multiple-choice-question>
						</div>
						<div ng-if="vm.question.type=='sc'">
							<single-choice-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></single-choice-question>
						</div>
						<div ng-if="vm.question.type=='tf'">
							<true-false-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></true-false-question>
						</div>
						<div ng-if="vm.question.type=='fb'">
							<fill-blank-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></fill-blank-question>
						</div>
						<div ng-if="vm.question.type=='ext'">
							<extend-text-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></extend-text-question>
						</div>
						<div ng-if="vm.question.type=='dnd'">
							<drag-drop-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></drag-drop-question>
						</div>
						<div ng-if="vm.question.type=='pic'">
							<point-click-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></point-click-question>
						</div>
						<div ng-if="vm.question.type=='as'">
							<associative-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question"
								answer="vm.question.answer"></associative-question>
						</div>
						<div ng-if="vm.question.grouped">
							<group-question mode="'study'"
								shuffle="vm.exam.shuffleOption" question="vm.question" sub-index="vm.subIndex"
								answer="vm.question.answer"></group-question>
						</div>
						<br>
						<hr>
						<div class="uk-grid uk-margin-top">
							<div class="uk-width-1-3">
								<a ng-show="vm.index < vm.questions.length-1 || (vm.question.grouped && vm.subIndex < vm.question.subQuestions.length)"
									class="uk-align-left md-btn  md-btn-wave-light md-btn-icon"
									ng-click="vm.saveNext()"> <i class="uk-icon-arrow-right "></i>
									{{'ACTION.NEXT'|translate}}
								</a>
							</div>
							<div class="uk-width-1-3 uk-text-center">
								<a class=" md-btn md-btn-primary md-btn-wave-light"
									ng-show="vm.index == vm.questions.length-1"
									ng-click="vm.submitExam()">
									{{'ACTION.SUBMIT_EXAM'|translate}} </a> <a
									ng-show="!vm.question.marked"
									class=" md-btn  md-btn-wave-light md-btn-icon"
									ng-click="vm.mark(vm.question)"> <i
									class="uk-icon-flag uk-text-warning"></i>
									{{'ACTION.MARK'|translate}}
								</a> <a ng-show="vm.question.marked"
									class=" md-btn  md-btn-wave-light md-btn-icon"
									ng-click="vm.unmark(vm.question)"> <i class="uk-icon-flag "></i>
									{{'ACTION.UNMARK'|translate}}
								</a>
							</div>
							<div class="uk-width-1-3 ">
								<a ng-show="vm.exam.allowNavigate && (vm.index > 0 || vm.question.grouped && vm.subIndex >0)"
									class="uk-align-right md-btn  md-btn-wave-light md-btn-icon"
									ng-click="vm.savePrev()"> <i class="uk-icon-arrow-left "></i>
									{{'ACTION.PREV'|translate}}
								</a>
							</div>
						</div>
					</div>
					<div class="uk-width-3-10">
						<ul class="uk-list uk-list-large uk-margin">
							<li>
								<div class="">
									{{'PAGE.LMS.MY_EXAMS.STUDY.TOTAL_QUESTION'|translate}} <span
										class="uk-badge uk-badge-notification uk-float-right">{{vm.questions.length}}</span>
								</div>
							</li>
							<li>
								<div class="">
									{{'PAGE.LMS.MY_EXAMS.STUDY.ATTEMPT_COUNT'|translate}} <span
										class="uk-badge uk-badge-notification uk-badge-success uk-float-right">{{vm.attemptCount}}</span>
								</div>
							</li>
							<li>
								<div class="">
									{{'PAGE.LMS.MY_EXAMS.STUDY.UNATTEMPT_COUNT'|translate}} <span
										class="uk-badge uk-badge-notification uk-badge-danger uk-float-right">{{vm.questions.length-vm.attemptCount}}</span>
								</div>
							</li>
							<li>
								<div class="">
									{{'PAGE.LMS.MY_EXAMS.STUDY.MARK_COUNT'|translate}} <span
										class="uk-badge uk-badge-warning uk-badge-notification uk-float-right">{{vm.markCount}}</span>
								</div>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

