<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <h1>{{vm.schedule.name}}</h1>
        <span class="uk-text-upper uk-text-small">
            <a ui-sref="workspace.lms.exams.me">
                <i class="material-icons uk-text-primary">keyboard_arrow_left</i>
                {{'PAGE.LMS.MY_EXAMS.TITLE' | translate}}
            </a>
        </span>
    </div>
    <div class="md-fab-wrapper">
        <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent"
            md-fab-toolbar>
            <i class="material-icons">&#xE8BE;</i>
            <div class="md-fab-toolbar-actions">
                <button id="section_edit_save" ng-click="vm.update()"
                    data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}"
                    title="{{'ACTION.SAVE'|translate}}">
                    <i class="material-icons md-color-white">&#xE161;</i>
                </button>
                <a id="section_edit_cancel"
                    ui-sref="workspace.lms.exams.view({examId:vm.exam._id,scheduleId:vm.schedule._id})"
                    data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}"
                    title="{{'ACTION.CLOSE'|translate}}">
                    <i class="material-icons md-color-white">&#xE5CD;</i>
                </a>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <form class="uk-form-stacked" name="examForm"
                    id="examForm" novalidate>
                    <ul class="uk-tab uk-tab-grid"
                        data-uk-tab="{connect:'#tabs_4'}">
                        <li class="uk-width-1-3">
                            <a href="#">{{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.COURSE_OUTLINE.TEST.EXAM_INFO'|translate}}</a>
                        </li>
                        <li class="uk-width-1-3">
                            <a href="#">{{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.COURSE_OUTLINE.TEST.QUESTION_INFO'|translate}}</a>
                        </li>
                        <li class="uk-width-1-3">
                            <a href="#">{{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.COURSE_OUTLINE.TEST.SESSION_INFO'|translate}}</a>
                        </li>
                    </ul>
                    <ul id="tabs_4" class="uk-switcher uk-margin">
                        <li>
                            <div class="uk-grid uk-margin">
                                <div class="uk-width-medium-1-1 parsley-row uk-margin-bottom">
                                    <label >{{'MODEL.EXAM.SUMMARY'|translate}}</label>
                                    <textarea ui-tinymce="vm.tinymce_options" ng-model="vm.exam.description" cols="30" rows="24"></textarea>
                                </div>
                                <div class="uk-width-medium-1-1 parsley-row">
                                    <label >{{'MODEL.EXAM.INSTRUCTION'|translate}}</label>
                                    <textarea ui-tinymce="vm.tinymce_options" ng-model="vm.exam.instruction" cols="30" rows="24"></textarea>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2">
                                    <label for="question_select">{{'MODEL.EXAM.QUESTION_SELECT'|translate}}</label>
                                    <div id="question_select">
                                        <span class="icheck-inline">
                                            <input type="radio"
                                                name="question_selection_manal"
                                                id="manual"
                                                value="manual" icheck
                                                ng-model="vm.exam.questionSelection" />
                                            <label for="manual"
                                                class="inline-label">{{'COMMON.QUESTION_SELECT.MANUAL'|translate}}</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="radio"
                                                name="question_selection_manal"
                                                id="auto" value="auto"
                                                icheck
                                                ng-model="vm.exam.questionSelection" />
                                            <label for="auto"
                                                class="inline-label">{{'COMMON.QUESTION_SELECT.AUTO'|translate}}</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2">
                                    <span class="icheck-inline">
                                        <input type="checkbox" name="shuffleOption"
                                            id="shuffleOption" icheck
                                            ng-model="vm.exam.shuffleOption"
                                             />
                                         <label for="shuffleOption">{{'MODEL.EXAM.SHUFFLE_OPTION'|translate}}</label>
                                    </span>


                                </div>
                            </div>
                            <div class="uk-grid" data-uk-grid-margin
                                ng-show="vm.exam.questionSelection=='auto'">
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <label for="exam_attempt">{{'MODEL.EXAM.QUESTION_NUMBER'|translate}}</label>
                                        <input id="exam_attempt"
                                            kendo-numeric-text-box
                                            k-min="1" k-max="10"
                                            k-ng-model="vm.exam.questionNumber"
                                            style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="uk-width-1-2 parsley-row">
                                    <label for="question_level_select">{{'MODEL.QUESTION.LEVEL'|translate}}</label>
                                    <div id="question_level_select">
                                        <span class="icheck-inline">
                                            <input type="radio"
                                                name="question_level"
                                                id="question_easy"
                                                value="easy" icheck
                                                ng-model="vm.exam.questionLevel" />
                                            <label for="question_easy"
                                                class="inline-label">{{'COMMON.DIFFICULTY.EASY'|translate}}</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="radio"
                                                name="question_level"
                                                id="question_medium"
                                                value="medium" icheck
                                                ng-model="vm.exam.questionLevel" />
                                            <label for="question_medium"
                                                class="inline-label">{{'COMMON.DIFFICULTY.MEDIUM'|translate}}</label>
                                        </span>
                                        <span class="icheck-inline">
                                            <input type="radio"
                                                name="question_level"
                                                id="question_hard"
                                                value="hard" icheck
                                                ng-model="vm.exam.questionLevel" />
                                            <label for="question_hard"
                                                class="inline-label">{{'COMMON.DIFFICULTY.HARD'|translate}}</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="uk-width-1-2 parsley-row">
                                    <input name="question_group"
                                        id="question_group" type="text"
                                        config="vm.groupConfig"
                                        options="vm.groupOptions"
                                        ng-model="vm.exam.questionCategory"
                                        selectize />
                                    {{vm.exam.questionCategory}}

                                    <span class="uk-form-help-block">{{'MODEL.EXAM.QUESTION_CAT'|translate}}</span>
                                </div>
                            </div>
                            <div
                                ng-show="vm.exam.questionSelection=='manual'">
                                <button class="md-btn" data-uk-modal="{target:'#select_question'}">{{'PAGE.LMS.MY_EXAMS.SELECT_QUESTION'|translate}}</button>
                                <div class=" uk-overflow-container">
                                <table  class=" uk-table uk-table-hover uk-table-nowrap  uk-table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="uk-text-center uk-text-upper uk-width-2-10">{{'COMMON.ACTION'|translate}}</th>
                                            <th class="uk-text-center uk-text-upper uk-width-1-10">{{'MODEL.QUESTION.ORDER'|translate}}</th>
                                            <th class="uk-text-center uk-text-upper uk-width-4-10">{{'MODEL.QUESTION.TITLE'|translate}}</th>
                                            <th class="uk-text-center uk-text-upper uk-width-2-10">{{'MODEL.QUESTION.TYPE'|translate}}</th>
                                            <th class="uk-text-center uk-text-upper uk-width-1-10">{{'MODEL.QUESTION.LEVEL'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="question in vm.selectedQuestions | orderBy:'order'" ng-mouseenter="question.show=true" ng-mouseleave="question.show=false">
                                            <td  class="uk-text-center uk-width-2-10">
                                                <i class="uk-icon-arrow-up  uk-margin-right" ng-click="vm.moveUp(question)"
                                                 data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="{{'ACTION.UP'|translate}}"></i>
                                              <i class="uk-icon-arrow-down  uk-margin-right" ng-click="vm.moveDown(question)"
                                                 data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="{{'ACTION.DOWN'|translate}}"></i>
                                                 <a  ng-click="vm.removeQuestion(question)" data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}" title="{{'ACTION.DELETE'|translate}}"><i class="md-icon material-icons uk-text-danger">delete</i></a>

                                            </td>
                                            <td class="uk-text-center uk-width-1-10">{{question.order}}</td>
                                            <td class="uk-width-4-10">{{question.title | limitTo: 50}} <question-info question="question" show="question.show"></question-info></td>
                                            <td class="uk-width-2-10">
                                                <span ng-if="question.type=='mc'">{{'COMMON.QUESTION_TYPE.MC'|translate}}</span>
                                                <span ng-if="question.type=='sc'">{{'COMMON.QUESTION_TYPE.SC'|translate}}</span>
                                                <span ng-if="question.type=='tf'">{{'COMMON.QUESTION_TYPE.TF'|translate}}</span>
                                                <span ng-if="question.type=='fb'">{{'COMMON.QUESTION_TYPE.FB'|translate}}</span>
                                            </td>
                                            <td class="uk-text-center uk-width-1-10">
                                                <span ng-if="question.level=='easy'">{{'COMMON.DIFFICULTY.EASY'|translate}}</span>
                                                <span ng-if="question.level=='medium'">{{'COMMON.DIFFICULTY.MEDIUM'|translate}}</span>
                                                <span ng-if="question.level=='hard'">{{'COMMON.DIFFICULTY.HARD'|translate}}</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid " data-uk-grid-margin>
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <label for="exam_duration">{{'MODEL.EXAM.DURATION'|translate}}
                                            ({{"MODEL.MINUTE" | translate}})</label>
                                        <input id="exam_duration"
                                            kendo-numeric-text-box
                                            k-min="1" k-max="360"
                                            k-ng-model="vm.exam.duration"
                                            style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <label for="exam_attempt">{{'MODEL.EXAM.MAX_ATTEMPT'|translate}}</label>
                                        <input id="exam_attempt"
                                            kendo-numeric-text-box
                                            k-min="1" k-max="10"
                                            k-ng-model="vm.exam.maxAttempt"
                                            style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <span class="icheck-inline">
                                            <input type="checkbox"
                                                class="switchery switchery-small"
                                                ui-switch
                                                color="#7cb342"
                                                name="switch_answer"
                                                id="switch_answer"
                                                ng-model="vm.exam.showAnswer" />
                                            <label for="switch_answer"
                                                class="inline-label">{{'MODEL.EXAM.SHOW_ANSWER'|translate}}</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <span class="icheck-inline">
                                            <input type="checkbox"
                                                class="switchery switchery-small"
                                                ui-switch
                                                color="#7cb342"
                                                name="switch_navigate"
                                                id="switch_navigate"
                                                ng-model="vm.exam.allowNavigate" />
                                            <label for="switch_navigate"
                                                class="inline-label">{{'MODEL.EXAM.ALLOW_NAVIGATE'|translate}}</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <span
                                            class="uk-input-group-addon">
                                            <input type="checkbox"
                                                ng-model="vm.exam.earlySubmitPrevention"
                                                icheck />
                                        </span>
                                        <label>{{'MODEL.EXAM.EARLY_SUBMIT_PREVENTION'|translate}} ({{"MODEL.MINUTE" | translate}})</label>
                                        <input type="number"
                                            class="md-input"
                                            ng-model="vm.exam.earlySubmit"
                                            min="1" md-input />
                                    </div>
                                </div>
                                <div class="uk-width-1-2 arsley-row">
                                    <div class="uk-input-group">
                                        <span
                                            class="uk-input-group-addon">
                                            <input type="checkbox"
                                                ng-model="vm.exam.preDueWarning"
                                                icheck />
                                        </span>
                                        <label>{{'MODEL.EXAM.PRE_DUE_WARNING'|translate}} ({{"MODEL.MINUTE" | translate}})</label>
                                        <input type="number"
                                            class="md-input"
                                            ng-model="vm.exam.preDue"
                                            min="1" md-input />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="uk-modal " id="select_question">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-alert uk-text-center uk-alert-info">
            <h3 class="heading_b">{{'PAGE.LMS.MY_EXAMS.SELECT_QUESTION'
                | translate}}</h3>
        </div>
        <div class="uk-overflow-container">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-2-5 ">
                    <h3 class="heading_a">{{'PAGE.LMS.MY_EXAMS.FILTER_BY_GROUP'|translate}}</h3>
                    <group-tree-view tree-id="'questionTree'"
                        mode="'multiple'" category="'question'"
                        select="vm.selectQuestionGroup"></group-tree-view>
                </div>
                <div class="uk-width-medium-3-5">
                    <table
                        class="uk-table uk-table-hover uk-table-nowrap  uk-table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="uk-text-center uk-text-upper">{{'MODEL.QUESTION.TITLE'|translate}}</th>
                                <th class="uk-text-center uk-text-upper">{{'MODEL.QUESTION.TYPE'|translate}}</th>
                                <th class="uk-text-center uk-text-upper">{{'MODEL.QUESTION.LEVEL'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="question in vm.questions">
                                <td
                                    class="uk-text-center uk-table-middle small_col">
                                    <input type="checkbox" icheck
                                        ng-model="question.selected"
                                        class="check_row"
                                        table-check-row>
                                </td>
                                <td>{{question.title | limitTo: 30}}</td>
                                <td class="uk-width-2-10">
                                    <span ng-if="question.type=='mc'">{{'COMMON.QUESTION_TYPE.MC'|translate}}</span>
                                    <span ng-if="question.type=='sc'">{{'COMMON.QUESTION_TYPE.SC'|translate}}</span>
                                    <span ng-if="question.type=='tf'">{{'COMMON.QUESTION_TYPE.TF'|translate}}</span>
                                    <span ng-if="question.type=='fb'">{{'COMMON.QUESTION_TYPE.FB'|translate}}</span>
                                </td>
                                <td class="uk-text-center uk-width-1-10">
                                    <span ng-if="question.level=='easy'">{{'COMMON.DIFFICULTY.EASY'|translate}}</span>
                                    <span ng-if="question.level=='medium'">{{'COMMON.DIFFICULTY.MEDIUM'|translate}}</span>
                                    <span ng-if="question.level=='hard'">{{'COMMON.DIFFICULTY.HARD'|translate}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button"
                class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
            <button type="button"
                class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
                id="snippet_new_save" ng-click="vm.selectQuestions()">{{'ACTION.SELECT'|translate}}</button>
        </div>
    </div>
</div>
