<div class="uk-alert uk-alert-warning uk-margin" data-uk-alert
	ng-show="vm.alert">
	<p class="uk-text-center">
		<span>{{vm.alert}}</span> <br>
</div>
<div id="page_content" ng-show="!vm.alert">
	<div id="page_content_inner">
		<div class="uk-width-medium-1-1 uk-container-center">
			<div class="md-card md-card-single" single-card>
				<div class="md-card-toolbar">
					<h3 class="md-card-toolbar-heading-text large">
						{{'PAGE.LMS.MY_COURSES.STUDENT_BOARD.CLASSROOM'|translate}}</h3>
				</div>
				<div class="md-card-content">

					<div class="uk-overflow-container">
						<div class="uk-grid">
							<div class=" uk-width-large-8-10 uk-width-1-1">
                <table class="uk-table uk-table-nowrap">
                  <thead>
                    <tr>
                      <th>{{"PAGE.CMS.COURSES.ENROLL.CLASS" | translate}}</th>
                      <th>{{"MODEL.CLASSROOM.START_DATE" | translate}}</th>
                      <th>{{"MODEL.CLASSROOM.END_DATE" | translate}}</th>
                      <th>{{"ACTION.JOIN" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{vm.classroom.name}}</td>
                      <td>{{vm.classroom.startDate | date: 'dd/MM/yyyy'}}</td>
                      <td>{{vm.classroom.endDate | date: 'dd/MM/yyyy'}}</td>
                      <td>
                        <a class="md-btn md-btn-success md-btn-mini md-btn-wave-light waves-effect waves-button waves-light" target="_blank"
                           href="{{vm.participant.loginURL}}" ng-show="vm.participant">{{'ACTION.JOIN'|translate}}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
