<div class="uk-grid">
  <div class="uk-width-medium-1-1">
    <div class="content-html">
      <p ng-bind-html="vm.html.content"></p>
    </div>
    <hr>
    <div class="uk-text-center">
      <div class="md-btn-group">
        <a ng-click="vm.prevSection()" class="md-btn md-btn-wave">
          <i class="uk-icon-chevron-left"></i> {{'ACTION.PREV'|translate}}
        </a>
        <a ng-click="vm.nextSection()" class="md-btn md-btn-wave">
          {{'ACTION.NEXT'|translate}} <i class="uk-icon-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
