<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-1-1">
    <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
      <li class="uk-active"><a href="#">{{'MODEL.VIDEO.MAIN_VIDEO'|translate}}</a></li>
      <li><a href="#">{{'MODEL.VIDEO.TRANSCRIPT'|translate}}</a></li>
    </ul>
    <ul id="tabs_1" class="uk-switcher uk-margin">
      <li>
        <div class="lecture-video">
          <video id="selectorVideo" src="{{vm.video.videoURL | trust}}"
                 autoplay controls></video>

          <div class="lecture-video__next-alert"
            ng-show="vm.autoSectionAuto">
            <span class="title uppercase">{{'ACTION.NEXT'|translate}}</span> <br>
            <span class="counter">{{vm.counter}}</span>
            <i class="uk-icon-pause pause" ng-click="vm.stopNextSectionAuto()"></i>
          </div>
        </div>
      </li>
      <li>{{vm.video.transcript}}</li>

    </ul>
    <hr>
    <a ng-click="vm.nextSection()" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary"><i
      class="uk-icon-arrow-right "></i> {{'ACTION.NEXT'|translate}}</a>
    <a ng-click="vm.prevSection()" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary"><i
      class="uk-icon-arrow-left"></i> {{'ACTION.PREV'|translate}}</a>
  </div>
</div>


