    <div id="page_content">
        <div id="page_content_inner">

            <h4 class="heading_a uk-margin-bottom">{{'PAGE.SETTING.USER_ALERT'|translate}}</h4>
            <form action="" class="uk-form-stacked" id="page_settings">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-large-1-2 uk-width-medium-1-1">
                        <div class="md-card">
                            <div class="md-card-content">
                                 <div class="uk-form-row">
                                    <label for="alert_user_create">{{'PAGE.SETTING.ALERT_USER_CREATE'|translate}}</label>
                                    <div >
                                                <input type="checkbox" ui-switch ng-model="vm.alertUserCreate.valueBoolean" id="alert_user_create" name="alert_user_create" />
                                     </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    
                </div>

                 <h4 class="heading_a uk-margin-bottom">{{'PAGE.SETTING.COURSE_ALERT'|translate}}</h4>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="uk-form-row">
                                    <label for="settings_builtin_conference_api">{{'PAGE.SETTING.BUILT_INT_API_URL'|translate}}</label>
                                    <input class="md-input" type="text" id="settings_builtin_conference_api" name="settings_builtin_conference_api" ng-model="vm.settingBuiltinConferenceApiURL.valueString" md-input/>
                                </div>
                                <div class="uk-form-row">
                                    <label for="settings_builtin_conference_api_salt">{{'PAGE.SETTING.BUILT_INT_API_SALT'|translate}}</label>
                                    <input class="md-input" type="text" id="settings_builtin_conference_api_salt" name="settings_builtin_conference_api_salt" ng-model="vm.settingBuiltinConferenceApiSalt.valueString" md-input/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="md-fab-wrapper">
                    <button type="submit" class="md-fab md-fab-primary" href="#" ng-click="vm.saveSetting()" data-uk-tooltip="{pos:'left'}" title="{{'ACTION.SAVE'|translate}}" >
                        <i class="material-icons">&#xE161;</i>
                    </button>
                </div>

            </form>

        </div>
    </div>