<section>
  <div class="page-header">
    <h1>Stats</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="stat in vm.stats"
       ui-sref="stats.view({ statId: stat._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="stat.created | date:'mediumDate'"></span>
        by
        <span ng-if="stat.user" ng-bind="stat.user.displayName"></span>
        <span ng-if="!stat.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="stat.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.stats.$resolved && !vm.stats.length">
    No Stats yet, why don't you <a ui-sref="stats.create">create one</a>?
  </div>
</section>
