
<div id="page_content">

	<div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">

		<h1>{{'PAGE.CMS.COURSES.ENROLL.TITLE' | translate}} :
			{{vm.course.name}}</h1>
		<span class="uk-text-upper uk-text-small"> <a
			ui-sref="admin.workspace.cms.courses.list"><i
				class="material-icons uk-text-primary">keyboard_arrow_left</i>{{'PAGE.CMS.COURSES.TITLE'
				| translate}}</a> <a
			ui-sref="admin.workspace.cms.courses.view({courseId:vm.course._id})"><i
				class="material-icons uk-text-primary">keyboard_arrow_left</i>{{vm.course.name}}</a>
		</span>
	</div>

	<div
		ng-include="'/src/client/cms/views/list-self.course.members.client.view.html'"
		ng-if="vm.course.model=='self-paced'"></div>
	<div
		ng-include="'/src/client/cms/views/list-group.course.members.client.view.html'"
		ng-if="vm.course.model=='group'"></div>

</div>


<div class="uk-modal " id="new_teacher">
	<div class="uk-modal-dialog uk-modal-dialog-large">
		<div class="uk-alert uk-text-center uk-alert-info">
			<h3 class="heading_b">{{'PAGE.CMS.COURSES.ENROLL.SELECT_TEACHER'
				| translate}}</h3>
		</div>
		<div class="uk-overflow-container">

			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-2-5 ">

					<h3 class="heading_a">{{'PAGE.CMS.COURSES.ENROLL.FILTER_BY_GROUP'|translate}}</h3>
					<group-tree-view tree-id="'teacherTree'" mode="'multiple'"
						category="'organization'" select="vm.selectTeacherGroup"></group-tree-view>
				</div>
				<div class="uk-width-medium-3-5">

					<table
						class="uk-table uk-table-hover uk-table-nowrap uk-table-condensed">
						<thead>
							<tr>
								<th></th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.AVATAR'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.DISPLAY_NAME'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.POSITION'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.GROUP'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in vm.teacherUsers">
								<td class="uk-text-center uk-table-middle small_col"><input
									type="checkbox" icheck ng-model="user.selectedAsTeacher"
									class="check_row" table-check-row></td>
								<td class="uk-text-center"><a href="#"
									class="user_action_image"><img class="md-user-image"
										src="{{user.profileImageURL}}" alt="" /></a></td>
								<td class="uk-text-center">{{user.displayName}}</td>
								<td class="uk-text-center">{{user.position}}</td>
								<td class="uk-text-center">{{user.group.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button type="button" class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
			<button type="button"
				class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
				id="snippet_new_save" ng-click="vm.selectTeachers()">{{'ACTION.SELECT'|translate}}</button>
		</div>
	</div>
</div>

<div class="uk-modal " id="new_classroom">
	<div class="uk-modal-dialog uk-modal-dialog">
		<div class="uk-alert uk-text-center uk-alert-info">
			<h3 class="heading_b">{{'PAGE.CMS.COURSES.ENROLL.ADD_CLASS' |
				translate}}</h3>
		</div>
		<div class="uk-margin-medium-bottom parsley-row">
			<label for="task_title">{{'MODEL.CLASSROOM.NAME'|translate}}
				<span class="req">*</span>
			</label> <input type="text" class="md-input" id="Task_title"
				name="snippet_title" ng-model="vm.classroom.name"
				data-parsley-trigger="change" required md-input />
		</div>
		<div class="uk-margin-medium-bottom">
			<div class="uk-input-group">
				<span class="uk-input-group-addon"><i
					class="uk-input-group-icon uk-icon-calendar"></i></span> <label
					for="uk_class_start">{{'MODEL.CLASSROOM.START_DATE'|translate}}</label>
				<input class="md-input" type="text" id="uk_class_start" md-input
					value="{{vm.classroom.startDate | date:'dd.MM.yyyy'}}">
			</div>
		</div>
		<div class="uk-margin-medium-bottom">
			<div class="uk-input-group">
				<span class="uk-input-group-addon"><i
					class="uk-input-group-icon uk-icon-calendar"></i></span> <label
					for="uk_class_end">{{'MODEL.CLASSROOM.END_DATE'|translate}}</label>
				<input class="md-input" type="text" id="uk_class_end" md-input
					value="{{vm.classroom.endDate | date:'dd.MM.yyyy'}}">
			</div>
		</div>

		<div class="uk-modal-footer uk-text-right">
			<button type="button" class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
			<input type="submit"
				class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
				id="snippet_new_save" ng-click="vm.addClassroom()"
				value="{{'ACTION.ADD'|translate}}"></input>
		</div>
	</div>
</div>

<div class="uk-modal " id="new_student">
	<div class="uk-modal-dialog uk-modal-dialog-large">
		<div class="uk-alert uk-text-center uk-alert-info">
			<h3 class="heading_b">{{'PAGE.CMS.COURSES.ENROLL.SELECT_STUDENT'
				| translate}}</h3>
		</div>
		<div class="uk-overflow-container">

			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-2-5 ">

					<h3 class="heading_a">{{'PAGE.CMS.COURSES.ENROLL.FILTER_BY_GROUP'|translate}}</h3>
					<group-tree-view tree-id="'studentTree'" mode="'multiple'"
						category="'organization'" select="vm.selectStudentGroup"></group-tree-view>

					<div ng-show="vm.course.model=='group'">
						<input name="course_class" id="course_class" type="text"
							config="vm.classConfig" options="vm.classOptions"
							ng-model="vm.selectedClass" selectize /> <span
							class="uk-form-help-block">{{'MODEL.MEMBER.CLASSROOM'|translate}}</span>
					</div>
				</div>
				<div class="uk-width-medium-3-5">

					<table
						class="uk-table uk-table-hover uk-table-nowrap  uk-table-condensed">
						<thead>
							<tr>
								<th class="uk-width-1-10 uk-text-center small_col"><input
									type="checkbox" icheck ng-model="allStudent"
									 class="check_all" table-check-all></th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.AVATAR'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.DISPLAY_NAME'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.POSITION'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.GROUP'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in vm.studentUsers">
								<td class="uk-text-center uk-table-middle small_col"><input
									type="checkbox" icheck ng-model="user.selectedAsStudent"
									class="check_row" table-check-row></td>
								<td class="uk-text-center"><a href="#"
									class="user_action_image"><img class="md-user-image"
										src="{{user.profileImageURL}}" alt="" /></a></td>
								<td class="uk-text-center">{{user.displayName}}</td>
								<td class="uk-text-center">{{user.position}}</td>
								<td class="uk-text-center">{{user.group.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button type="button" class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
			<button type="button"
				class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close"
				id="snippet_new_save" ng-click="vm.selectStudents()">{{'ACTION.SELECT'|translate}}</button>
		</div>
	</div>
</div>

<div class="md-fab-wrapper  md-fab-speed-dial-horizontal">
	<a class="md-fab md-fab-success" href="javascript:void(0)"
		data-uk-tooltip="{pos:'top'}" title="{{'ACTION.CREATE'|translate}}"
		md-fab-speed-dial><i class="material-icons">&#xE145;</i></a>
	<div class="md-fab-wrapper-small">
		<a class="md-fab md-fab-small" href="#new_teacher"
			data-uk-modal="{ center:true }"
			data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}"
			title="{{'PAGE.CMS.COURSES.ENROLL.TEACHER'|translate}}"><i
			class="material-icons">person_pin</i></a> <a
			ng-if="vm.course.model=='group'" class="md-fab md-fab-small "
			href="#new_classroom" data-uk-modal="{ center:true }"
			data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}"
			title="{{'PAGE.CMS.COURSES.ENROLL.CLASS'|translate}}"><i
			class="material-icons">class</i></a> <a class="md-fab md-fab-small"
			ng-class="{'disabled':vm.course.model=='group' && vm.classrooms.length==0}"
			href="#new_student" data-uk-modal="{ center:true }"
			data-uk-tooltip="{cls:'uk-tooltip-small',pos:'top'}"
			title="{{'PAGE.CMS.COURSES.ENROLL.STUDENT'|translate}}"><i
			class="material-icons">school</i></a>
	</div>
</div>
