<div ng-if="mode=='edit'">
    <div class="uk-grid ">
        <div class="uk-width-medium-1-2 parsley-row">
            <label for="question_title">
                {{'MODEL.QUESTION.TITLE'|translate}}
                <span class="req">*</span>
            </label>
            <input type="text" name="question_title" id="question_title" 
                required class="md-input" md-input ng-model="question.title" />
        </div>
        <div class="uk-width-medium-1-2 parsley-row">          
                <label for="question_level_select">{{'MODEL.QUESTION.LEVEL'|translate}}</label>
                <div  id="question_level_select">
                    <span class="icheck-inline" >
                        <input type="radio" name="question_level_{{question._id}}" id="question_easy_{{question._id}}"  value="easy" icheck ng-model="question.level" />
                        <label for="question_easy" class="inline-label">{{'COMMON.DIFFICULTY.EASY'|translate}}</label> 
                    </span>
                    <span class="icheck-inline" >
                        <input type="radio" name="question_level_{{question._id}}" id="question_medium_{{question._id}}"  value="medium" icheck ng-model="question.level" />
                        <label for="question_medium" class="inline-label">{{'COMMON.DIFFICULTY.MEDIUM'|translate}}</label>
                    </span>
                    <span class="icheck-inline" >
                        <input  type="radio" name="question_level_{{question._id}}" id="question_hard_{{question._id}}"  value="hard" icheck ng-model="question.level" />
                        <label for="question_hard" class="inline-label">{{'COMMON.DIFFICULTY.HARD'|translate}}</label>
                    </span>
                </div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1 parsley-row">
            <textarea ui-tinymce="tinymce_options" ng-model="question.description" cols="30" rows="12"></textarea>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div id="question_options">
                <div class="uk-grid" data-uk-grid-margin
                    ng-repeat="option in question.options | orderBy: 'order'">
                    <div class="uk-width-medium-2-10 uk-text-center" >
                        <span class="icheck-inline">
                            <input type="checkbox" 
                                id="option_{{option._id}}" icheck 
                                ng-model="option.selected" ng-change="selectOption(option)"
                                 />
                            <label for="option_{{option._id}}" class="inline-label">{{option.order}}</label>
                        </span>
                    </div>
                    <div class="uk-width-medium-7-10">
                        <label for="option_{{option.order}}">{{'MODEL.OPTION.CONTENT'|translate}}</label>
                        <input type="text" class="md-input"
                            id="option_{{option.order}}" md-input
                            ng-model="option.content" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="mode=='view'">
    <div class="uk-grid ">
        <div class="uk-width-medium-1-2 parsley-row">
            <label for="question_title">
                {{'MODEL.QUESTION.TITLE'|translate}}
                <span class="req">*</span>
            </label>
            <p>{{question.title}}</p> 
        </div>
        <div class="uk-width-medium-1-2 parsley-row">          
                <label for="question_level_select">{{'MODEL.QUESTION.LEVEL'|translate}}</label>
                <div  id="question_level_select">
                    <span class="icheck-inline" >
                        <input ng-disabled="true" type="radio" name="question_level_{{question._id}}" id="question_easy_{{question._id}}"  value="easy" icheck ng-model="question.level" />
                        <label for="question_easy" class="inline-label">{{'COMMON.DIFFICULTY.EASY'|translate}}</label> 
                    </span>
                    <span class="icheck-inline" >
                        <input  ng-disabled="true" type="radio" name="question_level_{{question._id}}" id="question_medium_{{question._id}}"  value="medium" icheck ng-model="question.level" />
                        <label for="question_medium" class="inline-label">{{'COMMON.DIFFICULTY.MEDIUM'|translate}}</label>
                    </span>
                    <span class="icheck-inline" >
                        <input  ng-disabled="true" type="radio" name="question_level_{{question._id}}" id="question_hard_{{question._id}}"  value="hard" icheck ng-model="question.level" />
                        <label for="question_hard" class="inline-label">{{'COMMON.DIFFICULTY.HARD'|translate}}</label>
                    </span>
                </div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1 parsley-row">
            <label for="question_desc">
                {{'MODEL.QUESTION.DESC'|translate}}
                <span class="req">*</span>
            </label>
            <p ng-bind-html="question.description" />
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div id="question_options">
                <div class="uk-grid" data-uk-grid-margin
                    ng-repeat="option in question.options | orderBy: 'order'">
                    <div class="uk-width-medium-2-10 uk-text-center" >
                        <span class="icheck-inline">
                            <input type="checkbox" ng-disabled="true"
                                id="option_{{option._id}}" icheck 
                                ng-model="option.selected" 
                                 />
                            <label for="option_{{option._id}}" class="inline-label">{{option.order}}</label>
                        </span>
                    </div>
                    <div class="uk-width-medium-7-10">
                        <p>{{option.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="mode=='study'">
    <div class="uk-grid ">
        <div class="uk-width-medium-1-2 parsley-row">
            <label >
                {{question.title}}
            </label>
        </div>
    </div>
    <hr>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1 parsley-row">
            <p ng-bind-html="question.description"/>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div id="question_options">
                <div class="uk-grid" data-uk-grid-margin
                    ng-repeat="option in question.options | orderBy: 'order'">
                    <div class="uk-width-medium-2-10 uk-text-center" >
                        <span class="icheck-inline">
                            <input type="checkbox" 
                                id="option_{{option._id}}" icheck 
                                ng-model="option.selected" ng-change="selectOption(option)"
                                 />
                        </span>
                    </div>
                    <div class="uk-width-medium-8-10">
                        <label for="option_{{option._id}}" class="inline-label">{{option.order}}.</label>
                        <label for="option_{{option.order}}">{{option.content}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div ng-if="mode=='result'">
    <div class="uk-grid">
        <div class="uk-width-medium-1-2 parsley-row">
            <label >
                {{question.title}}
            </label>
        </div>
    </div>
    <hr>
    <div class="uk-grid">
        <div class="uk-width-medium-1-1 parsley-row">
           <p ng-bind-html="translateContent()"></p>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div id="question_options">
                <div class="uk-grid" data-uk-grid-margin
                    ng-repeat="option in question.options | orderBy: 'order'">
                    <div class="uk-width-medium-2-10 uk-text-center" >
                        <span class="icheck-inline">
                            <input type="checkbox" ng-disabled="true"
                                id="option_{{option._id}}" icheck 
                                ng-model="option.selected" ng-change="selectOption(option)"
                                 />
                        </span>
                    </div>
                    <div class="uk-width-medium-8-10">
                        <label for="option_{{option._id}}" class="inline-label">{{option.order}}.</label>
                        <label for="option_{{option.order}}">{{option.content}}</label>
                        <span ng-show="option.isCorrect"><i class="material-icons uk-text-success">check_circle</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

