
<div id="page_content">
	<div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
		<h1>{{'PAGE.LMS.MY_EXAMS.SCOREBOOK.TITLE' | translate}} :
			{{vm.schedule.name}}</h1>
		<span class="uk-text-upper uk-text-small"> <a
			ui-sref="workspace.lms.exams.me"> <i
				class="material-icons uk-text-primary">keyboard_arrow_left</i>
				{{'PAGE.LMS.MY_EXAMS.TITLE' | translate}}
		</a>
		</span>
	</div>
	<div id="page_content_inner">
		<exam-result exam="vm.exam" candidate="vm.candidate"></exam-result>
	</div>
</div>
