<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Certificate</title>
<meta charset="UTF-8">
</head>

<body style="background-color: #ccc;">
	<style type="text/css">
p {
	margin-bottom: 15px;
	margin-top: 15px;
}
</style>
	<div align="center">
		<div
			style="width: 900px; background-color: #fff; margin-top: 60px; padding-bottom: 30px; background-repeat: no-repeat; background-size: 100% 100%; background-image: url('');">
			<p style="padding-top: 170px;">is presented to</p>
			<p
				style="font-size: 28px; font-weight: bold; text-transform: capitalize;">
				{{studentName}}</p>
			<hr style="width: 35%">
			<p>for the completion course of</p>
			<p
				style="font-size: 25px; font-weight: bold; text-transform: capitalize;">{{courseName}}</p>
			<p style="font-size: 22px;">The {{appName}} Support Team</p>
			<p>Issue date: {{issueDate}}</p>
			<table style="width: 80%; margin-top: 30px;">
				<tr>
					<td style="width: 50%" align="left"><img
						style="margin-top: 65px; width: 150px; margin-left: 30px;" src=>
					</td>
					<td style="width: 50%" align="center">Instructor
						<p style="margin-top: 90px;">{{instructorName}}</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>