
 <div class="uk-modal " id="new_teacher">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-alert uk-text-center uk-alert-info" >
            <h3 class="heading_b">{{'PAGE.CMS.COURSES.ENROLL.SELECT_TEACHER' | translate}}</h3>
        </div>
         <div class="uk-overflow-container">
            <table class="uk-table uk-table-hover uk-table-nowrap" datatable="ng"  dt-options="vm.dtTeacherOptions">
                <thead>
                <tr>
                    <th ></th>
                    <th class="uk-text-center uk-text-upper">{{'MODEL.USER.AVATAR'|translate}}</th>
                    <th class="uk-text-center uk-text-upper">{{'MODEL.USER.DISPLAY_NAME'|translate}}</th>
                    <th class="uk-text-center uk-text-upper">{{'MODEL.USER.POSITION'|translate}}</th>
                    <th class="uk-text-center uk-text-upper">{{'MODEL.USER.GROUP'|translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.displayUsers">
                    <td class="uk-text-center uk-table-middle small_col"><input type="checkbox" icheck ng-model="user.selectedAsTeacher" class="check_row" table-check-row></td>
                    <td class="uk-text-center">
                        <a href="#" class="user_action_image"><img class="md-user-image" src="{{user.profileImageURL}}" alt=""/></a>
                    </td>
                    <td class="uk-text-center">{{user.displayName}}</td>        
                    <td class="uk-text-center" >{{user.position}}</td>
                    <td class="uk-text-center">{{user.group.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" id="snippet_new_save" ng-click="vm.selectTeachers()">{{'ACTION.SELECT'|translate}}</button>
        </div>
    </div>
</div>