<div id="page_content">
    <div id="page_heading" data-uk-sticky="{ top: 48, media: 960 }">
        <div class="heading_actions">
            <span class="icheck-inline">
                <input type="checkbox" class="switchery switchery-small"
                    ui-switch color="#7cb342" name="switch_visible"
                    id="switch_visible" ng-model="vm.section.visible" />
                <label for="switch_visible" class="inline-label">{{'MODEL.SECTION.VISIBLE'|translate}}</label>
            </span>
        </div>
        <h1>
            <label>{{'MODEL.SECTION.NAME'|translate}}</label>
            <input type="text" class="md-input uk-form-width-large"
                md-input ng-model="vm.section.name" />
        </h1>
        <span class="uk-text-upper uk-text-small">
            <a ui-sref="workspace.lms.courses.list">
                <i class="material-icons uk-text-primary">keyboard_arrow_left</i>
                {{'PAGE.LMS.MY_COURSES.TITLE' | translate}}
            </a>
            <a
                ui-sref="workspace.lms.courses.outline({courseId:vm.course._id})">
                <i class="material-icons uk-text-primary">keyboard_arrow_left</i>
                {{vm.course.name}}
            </a>
        </span>
    </div>
    <div class="md-fab-wrapper">
        <div class="md-fab md-fab-toolbar md-fab-small md-fab-accent"
            md-fab-toolbar>
            <i class="material-icons">&#xE8BE;</i>
            <div class="md-fab-toolbar-actions">
                <button id="section_edit_save" ng-click="vm.update()"
                    data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}"
                    title="{{'ACTION.SAVE'|translate}}">
                    <i class="material-icons md-color-white">&#xE161;</i>
                </button>
                <a id="section_edit_cancel"
                    ui-sref="workspace.lms.courses.section.view.video({courseId:vm.course._id,sectionId:vm.section._id})"
                    data-uk-tooltip="{cls:'uk-tooltip-small',pos:'bottom'}"
                    title="{{'ACTION.CLOSE'|translate}}">
                    <i class="material-icons md-color-white">&#xE5CD;</i>
                </a>
            </div>
        </div>
    </div>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div data-uk-button-radio="{target:'.md-btn'}"
                            class="uk-margin">
                            <button
                                class="md-btn md-btn-icon md-btn-primary md-btn-wave" ng-click="vm.mode='studio'">
                                <i class="uk-icon-video-camera"></i>
                                {{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.COURSE_OUTLINE.VIDEO.STUDIO_MODE'|translate}}
                            </button>
                            <button
                                class="md-btn md-btn-icon md-btn-wave"  ng-click="vm.mode='normal'">
                                <i class="uk-icon-upload"></i>
                                {{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.COURSE_OUTLINE.VIDEO.NORMAL_MODE'|translate}}
                            </button>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-grid uk-grid-small"
                            data-uk-grid-margin
                            data-uk-grid-match="{target:'.md-card'}">
                            <div class="uk-width-medium-1-3" ng-show="!vm.mode">
                                <div class="md-card">
                                    <div class="md-card-head">
                                        <div
                                            class="uk-cover uk-position-relative uk-height-1-1 transform-origin-50"
                                            id="video_player">
                                            <iframe height="150"
                                                width="300"
                                                data-uk-cover
                                                src="https://www.youtube.com/embed/-CYs99M7hzA?rel=0"
                                                frameborder="0"
                                                allowfullscreen
                                                style="max-height: 100%"></iframe>
                                        </div>
                                    </div>
                                    <div class="md-card-content">
                                        <ul
                                            class="md-list md-list-addon md-list-interactive"
                                            id="video_player_playlist">
                                            <li
                                                ng-click="vm.videoChange($event,video.id)"
                                                ng-repeat="video in vm.video_data"
                                                ng-class="{'md-list-item-active': $index == 0 }">
                                                <div
                                                    class="md-list-addon-element">
                                                    <i
                                                        class="md-list-addon-icon material-icons">&#xE037;</i>
                                                </div>
                                                <div
                                                    class="md-list-content">
                                                    <span
                                                        class="md-list-heading">{{video.name}}</span>
                                                    <span
                                                        class="uk-text-small uk-text-muted">{{video.source}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3" ng-show="vm.mode=='normal'">
                                 <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-small-bottom">
                            Default
                        </h3>
                        <input type="file" id="input-file-a" class="dropify" />
                    </div>
                </div>
                            </div>
                            <div class="uk-width-medium-2-3">
                                <div class="md-card">
                                    <div class="md-card-content">
                                        <label for="video_transcript">
                                            {{'MODEL.VIDEO.TRANSCRIPT'|translate}}
                                            </span>
                                        </label>
                                        <textarea cols="30" rows="2"
                                            name="video_transcript"
                                            id="video_transcript"
                                            class="md-input"
                                            ng-model="vm.video.transcript"
                                            md-input textarea-autosize></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
