<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">{{'PAGE.LMS.MY_EXAMS.TITLE' | translate}}</h3>
        <div class="uk-grid blog_article" data-uk-grid-margin >
            <div class="uk-width-1-1">
                <div  ng-repeat="candidate in vm.candidates" class="uk-margin">
                    <div ng-if="candidate.role=='teacher'" class="md-card md-card-hover" >
                    <div class="md-card-toolbar">
                         <h3 class="md-card-toolbar-heading-text">
                                <a class="md-btn md-btn-flat md-btn-flat-primary   md-btn-icon uk-margin-right" ui-sref="workspace.lms.exams.edit({examId:candidate.exam._id,scheduleId:candidate.schedule._id})">
                                    <i class="uk-icon-book"></i>
                                    {{'PAGE.LMS.MY_EXAMS.CONTENT.TITLE'|translate}}
                                </a>
                                <a class="md-btn md-btn-flat md-btn-flat-primary   md-btn-icon uk-margin-right" ui-sref="workspace.lms.exams.grade({examId:candidate.exam._id})">
                                    <i class="uk-icon-star-half-o"></i>
                                    {{'PAGE.LMS.MY_EXAMS.GRADE_SCHEME.TITLE'|translate}}
                                </a>
                                <a class="md-btn md-btn-flat md-btn-flat-primary   md-btn-icon uk-margin-right" ui-sref="workspace.lms.exams.scoreboard({examId:candidate.exam._id})">
                                    <i class="uk-icon-hand-pointer-o"></i>
                                    {{'ACTION.VIEW_SCORE'|translate}}
                                </a>
                        </h3>
                    </div>
                    <div class="md-card-content">
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                                <div class="uk-article">
                                    <h1 class="uk-article-title uk-text-primary">{{candidate.schedule.name}} </h1>
                                    <p class="uk-article-meta">
                                        <span class="uk-margin-right">{{'MODEL.SCHEDULE.START_DATE'|translate}} : {{candidate.schedule.start | date:'dd/MM/yyyy'}}</span>
                                        <span class="uk-margin-right">{{'MODEL.SCHEDULE.END_DATE'|translate}} : {{candidate.schedule.end | date:'dd/MM/yyyy'}}</span>
                                    </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  ng-if="candidate.role=='student'"  class="md-card md-card-hover" card-progress="{{candidate.exam.percentage}}">
                    
                    <div class="md-card-toolbar md-bg-light-green-100">
                        <h3 class="md-card-toolbar-heading-text">
                            <a class="md-btn md-btn-flat md-btn-flat-primary   md-btn-icon uk-margin-right" ui-sref="workspace.lms.exams.join({examId:candidate.exam._id})">
                                    <i class="uk-icon-hand-pointer-o"></i>
                                    {{'ACTION.JOIN'|translate}}
                                </a>
                            {{'PAGE.LMS.MY_EXAMS.PROGRESS'|translate}} {{ candidate.exam.percentage }}%
                        </h3>
                    </div>
                    
                    <div class="md-card-content">
                            <div class="uk-grid">
                                <div class="uk-width-1-1">
                   
                                <div class="uk-article">
                                    <h1 class="uk-article-title uk-text-primary">{{candidate.schedule.name}} </h1>
                                    <p class="uk-article-meta">
                                        <span class="uk-margin-right uk-article-meta">{{'MODEL.SCHEDULE.START_DATE'|translate}} : {{candidate.schedule.start | date:'dd/MM/yyyy'}}</span>
                                        <span class="uk-margin-right uk-article-meta">{{'MODEL.SCHEDULE.END_DATE'|translate}} : {{candidate.schedule.end | date:'dd/MM/yyyy'}}</span>
                                    </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
