<div class="md-card">
	<div class="md-card-content">
		<div id="file_upload-drop" class="uk-file-upload">
			<div
				class="uk-margin uk-cover uk-position-relative uk-height-1-1 transform-origin-50"
				id="video_player">
				<div class="uk-grid">
					<div class="uk-width-1-2 uk-container-center">
						<a href="{{object.fileURL}}"><i
					class="material-icons">attach_file</i>{{object.fileURL}}</a>
					</div>
				</div>
			</div>
			<div class="uk-margin">
				<span class="uk-form-file md-btn md-btn-icon"
					ng-click="selectScreen()"> <i class="uk-icon-upload"></i>
					{{'ACTION.CHOOSE_FILE'|translate}}<input
					id="file_upload-select" type="file">
				</span>
			</div>
			
			<div class="uk-margin" >
				<button  type="button" class=" md-btn md-btn-icon md-btn-flat  md-btn-mini uk-modal-close" > <i
					class="uk-icon-check uk-text-success"></i> {{'ACTION.ACCEPT'|translate}} 
				</button>
				<button  type="button" class=" md-btn md-btn-icon  md-btn-mini md-btn-flat "  ng-click="resetFile()"> <i
					class="uk-icon-refresh "></i> {{'ACTION.RESET'|translate}}
				</button>
				<button  type="button" class=" md-btn md-btn-icon  md-btn-mini  md-btn-flat"  ng-click="deleteFile()"> <i
					class="uk-icon-remove"></i> {{'ACTION.DELETE'|translate}}
				</button>
				<button  type="button" class=" md-btn md-btn-icon  md-btn-mini  md-btn-flat uk-modal-close"  ng-click="resetFile()"> <i
					class="uk-icon-remove uk-text-danger"></i> {{'ACTION.CLOSE'|translate}}
				</button>

			</div>
		
		</div>
		<div id="file_upload-progressbar" class="uk-progress"
			ng-show="showProgress">
			<div id="progress_bar" class="uk-progress-bar" style="width: 0">0%</div>
		</div>
	</div>
</div>