<style type="text/css">
.dataTables_wrapper .uk-overflow-container th, .dataTables_wrapper .uk-overflow-container td
	{
	padding: 10px 3px;
}
</style>
<div id="page_content">
	<div id="page_content_inner">
		<h3 class="heading_b uk-margin-bottom">{{'PAGE.USERS.PERMISSION.TITLE' |
			translate}}</h3>
		<div class="uk-grid uk-grid-small" data-uk-grid-margin>
			<div class="uk-width-1-1" >
				<div class="md-card">
					<div class="md-card-toolbar">
						<div class="md-card-toolbar-actions">
							<a ng-click="vm.editMode=true"><i
								class="material-icons md-24 " data-uk-tooltip="{pos:'top'}"
								title="{{'PAGE.USERS.UPDATE_ORG_TREE'|translate}}">edit</i></a>
						</div>
						<h3 class="md-card-toolbar-heading-text uk-text-upper">
							{{'PAGE.ORGANIZATION.TITLE' | translate}}</h3>
					</div>
					<div class="md-card-content">
						<group-tree-view tree-id="'orgTree'" mode="'multiple'"
							category="'organization'" select="vm.selectGroup"></group-tree-view>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1" ng-show="!vm.editMode">
				<div class="md-card">
					<div class="md-card-toolbar">
						<div class="md-card-toolbar-actions">

							<a class="md-btn  md-btn-icon md-btn-wave-light"
								href='#view_permission' data-uk-modal="{ center:true }">{{'PAGE.USERS.PERMISSION.VIEW_PERMISSION'|translate}}</a>
							<a class="md-btn  md-btn-icon md-btn-wave-light"
								href='#api_permission' data-uk-modal="{ center:true }">{{'PAGE.USERS.PERMISSION.API_PERMISSION'|translate}}</a>
						</div>
						<h3 class="md-card-toolbar-heading-text uk-text-upper">
							{{'PAGE.USERS.USER_LIST' | translate}}</h3>
					</div>
					<div class="md-card-content">

						<table
						class="uk-table uk-table-hover uk-table-nowrap uk-table-condensed">
						<thead>
							<tr>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.DISPLAY_NAME'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.ROLE'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.PERMISSION_VIEW'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'MODEL.USER.PERMISSION_API'|translate}}</th>
								<th class="uk-text-center uk-text-upper"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in vm.users"  ng-mouseout="user.mouseOver=false" ng-mouseover="user.mouseOver=true">
								<td class="uk-text-center">{{user.displayName}}</td>
								<td class="uk-text-center">
									<selectize
								config="vm.roleSwitcherConfig" position="bottom"
								options="vm.roleSwitcherOptions" ng-model="user.roles"
								name="user_edit_role"></selectize>
								</td>
								<td class="uk-text-center">
								<selectize
								config="vm.permissionViewConfig" position="bottom"
								options="vm.permissionViewOptions" ng-model="user.permissionView"
								name="view_edit_role"></selectize>
								</td>
								<td class="uk-text-center">
								<selectize
								config="vm.permissionApiConfig" position="bottom"
								options="vm.permissionApiOptions" ng-model="user.permissionApi"
								name="api_edit_role"></selectize>
								</td>
								<td class="uk-text-center">
									<a ng-show="user.mouseOver" class="md-btn md-btn-primary md-btn-mini md-btn-wave-light" ng-click="vm.save(user)">{{'ACTION.SAVE'|translate}}</a>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="uk-modal" id="view_permission">
    <div class="uk-modal-dialog uk-modal-dialog-large">

    	<div class=" uk-text-center ">
			<h3 class="heading_b ">{{'DIALOG.SELECT_MENU_PERMISSION.TITLE' |
				translate}}
			<a  ng-click="vm.newPermissionView()" data-uk-tooltip="{pos:'right'}"
                   title="{{'ACTION.CREATE'|translate}}"><i class="md-icon material-icons uk-text-success ">add</i></a>

				</h3>

		</div>
		<div class="uk-margin-medium-bottom">
            	<div class="uk-grid">
            		<div class="uk-width-2-3">
            			<selectize
							config="vm.permissionViewConfig" position="bottom" ng-change="vm.editPermissionView()"
							options="vm.permissionViewOptions" ng-model="vm.permissionView._id"
							name="view_edit_role"></selectize>
            		</div>
            		<div class="uk-width-1-3">

		                <a ng-show="vm.permissionView._id" ng-click="vm.deletePermissionView()" data-uk-tooltip="{pos:'right'}"
		                   title="{{'ACTION.DELETE'|translate}}"><i class="md-icon material-icons uk-text-danger">delete</i></a>
            		</div>
            	</div>

            </div>
        <form class="uk-form-stacked" ng-show="vm.permissionView">
            <div class="uk-margin-medium-bottom">
                <label for="permission_title">{{'MODEL.PERMISSION_VIEW.NAME' | translate}}</label>
                <input type="text" class="md-input" ng-model="vm.permissionView.name" id="permission_title" name="permission_title" md-input/>
            </div>
            <div class="uk-grid">
            	<div class="uk-margin-medium-bottom uk-width-1-2">
	                <label for="user_menu">{{'MODEL.PERMISSION_VIEW.USER_MENU' | translate}}</label>
	                <menu-tree-view tree-id="'menuUserTree'" role="'user'" select="vm.selectUserMenu" menu-items="vm.permissionView.userMenu"></menu-tree-view>
            	</div>
            	<div class="uk-margin-medium-bottom uk-width-1-2">
	                <label for="admin_menu">{{'MODEL.PERMISSION_VIEW.ADMIN_MENU' | translate}}</label>
	                <menu-tree-view tree-id="'menuAdminTree'" role="'admin'" select="vm.selectAdminMenu"  menu-items="vm.permissionView.adminMenu"></menu-tree-view>
            </div>
            </div>

        </form>
        <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
                <button type="button" ng-click="vm.savePermissionView()" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" id="snippet_new_save">{{'ACTION.SAVE'|translate}}</button>
            </div>
    </div>
</div>

<div class="uk-modal" id="api_permission">
    <div class="uk-modal-dialog uk-modal-dialog-large">

    	<div class=" uk-text-center ">
			<h3 class="heading_b ">{{'DIALOG.SELECT_API_PERMISSION.TITLE' |
				translate}}
			<a  ng-click="vm.newPermissionApi()" data-uk-tooltip="{pos:'right'}"
                   title="{{'ACTION.CREATE'|translate}}"><i class="md-icon material-icons uk-text-success ">add</i></a>

				</h3>

		</div>
		<div class="uk-margin-medium-bottom">
            	<div class="uk-grid">
            		<div class="uk-width-2-3">
            			<selectize
							config="vm.permissionApiConfig" position="bottom" ng-change="vm.editPermissionApi()"
							options="vm.permissionApiOptions" ng-model="vm.permissionApi._id"
							name="api_edit_role"></selectize>
            		</div>
            		<div class="uk-width-1-3">

		                <a ng-show="vm.permissionApi._id" ng-click="vm.deletePermissionApi()" data-uk-tooltip="{pos:'right'}"
		                   title="{{'ACTION.DELETE'|translate}}"><i class="md-icon material-icons uk-text-danger">delete</i></a>
            		</div>
            	</div>

            </div>
        <form class="uk-form-stacked" ng-show="vm.permissionApi">
            <div class="uk-margin-medium-bottom">
                <label for="permission_title">{{'MODEL.PERMISSION_API.NAME' | translate}}</label>
                <input type="text" class="md-input" ng-model="vm.permissionApi.name" id="permission_title" name="permission_title" md-input/>
            </div>
           <div class="uk-margin-medium-bottom">
           <table
						class="uk-table uk-table-hover uk-table-nowrap uk-table-condensed">
						<thead>
							<tr>
								<th class="uk-text-center uk-text-upper">{{'MODEL.PERMISSION_API.NAME'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'COMMON.ENDPOINT_ACCESS.VIEW'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'COMMON.ENDPOINT_ACCESS.CREATE'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'COMMON.ENDPOINT_ACCESS.UPDATE'|translate}}</th>
								<th class="uk-text-center uk-text-upper">{{'COMMON.ENDPOINT_ACCESS.DELETE'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="endpoint in vm.endpoints | orderBy:'name'" >
								<td class="uk-text-center">{{endpoint.name | translate}}</td>
								<td class="uk-text-center">
									<input 	type="checkbox" icheck ng-model='endpoint.view'>
								</td>
								<td class="uk-text-center">
									<input 	type="checkbox" icheck ng-model='endpoint.create'>
								</td>
								<td class="uk-text-center">
									<input 	type="checkbox" icheck ng-model='endpoint.update'>
								</td>
								<td class="uk-text-center">
									<input 	type="checkbox" icheck ng-model='endpoint.delete'>
								</td>
							</tr>
						</tbody>
					</table>

           </div>

        </form>
        <div class="uk-modal-footer uk-text-right">
                <button type="button" class="md-btn md-btn-flat uk-modal-close">{{'ACTION.CLOSE'|translate}}</button>
                <button type="button" ng-click="vm.savePermissionApi()" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close" id="snippet_new_save">{{'ACTION.SAVE'|translate}}</button>
            </div>
    </div>
</div>
