    <div class="login_page_wrapper">
        <div class="md-card" id="login_card">

            <div class="md-card-content large-padding" >
                <h2 class="heading_a uk-margin-large-bottom">{{'PAGE.AUTHENTICATION.RESET_PASSWORD'|translate}}</h2>
                <form>
                    <div class="uk-form-row">
                        <label for="new_password">{{'PAGE.AUTHENTICATION.NEW_PASSWORD'|translate}}</label>
                        <input class="md-input" type="text"  ng-model="vm.passwordDetails.newPassword" md-input />
                    </div>
                    <div class="uk-form-row">
                        <label for="new_password">{{'PAGE.AUTHENTICATION.VERIFY_PASSWORD'|translate}}</label>
                        <input class="md-input" type="text"  ng-model="vm.passwordDetails.verifyPassword" md-input />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a ng-click="vm.resetUserPassword()" class="md-btn md-btn-primary md-btn-block">{{'ACTION.CONFIRM'|translate}}</a>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="uk-margin-top uk-text-center" >
            <a href="#"  ui-sref="home">{{'PAGE.HOME'|translate}}</a>
        </div>
    </div>
