
<!-- main header -->
<header id="header_main">
	<div class="header_main_content">
		<nav class="uk-navbar">
			<div class="main_logo_top" ng-if="topMenuActive || fullHeaderActive">
				<a href="/workspace/lms/courses/me"><img src="/assets/img/brand/logo.png" alt="logo" /></a>
			</div>
			<!-- main sidebar switch -->
			<div>
				<ul class="uk-navbar-nav user_actions">
					<li><sidebar-primary-toggle></sidebar-primary-toggle></li>
					<li><a href="#" class="user_action_icon uk-visible-large"
						id="full_screen_toggle" full-screen-toggle><i
							class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
					<li><a href="#" class="user_action_icon uk-visible-large"
						print-page><i class=" material-icons md-24 md-light">&#xE8AD;</i></a>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav user_actions">
					<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}"><a
						href="#" class="user_action_icon"><i
							class="material-icons md-24 md-light">&#xE7F4;</i><span
							class="uk-badge" ng-show="vm.alerts.length">{{vm.alerts.length}}</span></a>
						<div class="uk-dropdown uk-dropdown-xlarge">
							<div class="md-card-content">
								<ul class="uk-tab uk-tab-grid"
									data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
									<li class="uk-width-1-1"><a href="#" class="js-uk-prevent">{{'PAGE.WORKSPACE.HEADER.ALERT'|translate}}
											({{vm.alerts.length}})</a></li>
								</ul>
								<ul id="header_alerts" class="uk-switcher uk-margin">
									<li>
										<ul class="md-list md-list-addon">
											<li ng-repeat="alert in vm.alerts">
												<div class="md-list-addon-element">
													<i
														class="md-list-addon-icon material-icons uk-text-warning"
														ng-if="alert.level == 'warning'">&#xE8B2;</i> <i
														class="md-list-addon-icon material-icons uk-text-success"
														ng-if="alert.level == 'success'">&#xE88F;</i> <i
														class="md-list-addon-icon material-icons uk-text-danger"
														ng-if="alert.level == 'danger'">&#xE001;</i> <i
														class="md-list-addon-icon material-icons uk-text-primary"
														ng-if="alert.level == 'primary'">&#xE8FD;</i>
												</div>
												<div
													class="uk-position-absolute uk-position-top-right uk-margin-small-right uk-margin-small-top">
													<a href="#" class="note_action_remove"
														ng-click="vm.closeAlert(alert)"><i
														class="md-icon material-icons">&#xE5CD;</i></a>
												</div>
												<div class="md-list-content">
													<span class="md-list-heading">{{alert.title}}</span> <span
														class="uk-text-small uk-text-muted"
														ng-if="alert.type=='alert'">{{alert.content}}</span>
													<p ng-if="alert.type=='message'"
														ng-bind-html="alert.content"></p>
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div></li>
					<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}"><a
						href="#" class="user_action_image"><img class="md-user-image"
							ng-src="{{vm.user.profileImageURL?vm.user.profileImageURL:'/assets/img/avatars/user.png'}}"
							alt="" add-image-prop /></a>
						<div class="uk-dropdown  uk-dropdown-small">
							<ul class="uk-nav js-uk-prevent uk-list-line">
								<li><a ng-click="vm.viewProfile()"
									class="uk-dropdown-close">
										{{'PAGE.WORKSPACE.HEADER.MY_PROFILE' | translate}}</a></li>
								<li><a href="/api/auth/signout" target="_self">{{'PAGE.WORKSPACE.HEADER.LOGOUT'|
										translate}}</a></li>
							</ul>
						</div></li>
					<li>
						<div class="lang_selections"
							ng-controller="LanguageController as lang">
							<selectize config='lang.langSwitcherConfig'
								options='lang.langSwitcherOptions'
								ng-model="lang.langSwitcherModel"></selectize>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>

</header>
<!-- main header end -->
