<!-- main sidebar -->
<aside id="sidebar_main" sidebar-primary custom-scrollbar
       ng-class="{ 'accordion_mode': menuAccordionMode }">
    <div class="sidebar_main_header" ng-if="!fullHeaderActive" style="height: 170px;">
        <div class="sidebar_logo" style="margin-left: 25px; height: 80%;">
            <a ui-sref="workspace.dashboard"
               class="sSidebar_hide sidebar_logo_large"> <img
                    style="border: none;" class="logo_regular"
                    src="/assets/img/brand/nissan-logo1.png" width="100" height="15" alt=""/> <img
                    style="border: none;" class="logo_light"
                    src="/assets/img/brand/nissan-logo1.png" width="100" height="15" alt=""/>
            </a> <a ui-sref="workspace.dashboard"
                    class="sSidebar_show sidebar_logo_small"> <img
                style="border: none;" class="logo_regular"
                src="/assets/img/brand/nissan-logo1.png" width="100" height="15" alt=""/> <img
                style="border: none;" class="logo_light"
                src="/assets/img/brand/nissan-logo1.png" width="100" height="15" alt=""/>
        </a>

        </div>

        <div class="sidebar_actions" ng-if="vm.hasAdminRole"
             ng-click="vm.switchPanel()">
            <a ng-show="viewerRole=='user' && vm.user.roles.includes('admin')"
               class="md-btn md-btn-success md-btn-mini md-btn-wave-light md-btn-icon">
                <i class="uk-icon-exchange"></i>
                {{'PAGE.WORKSPACE.SIDEBAR.ADMIN_PANEL'|translate}}
            </a> <a ng-show="viewerRole=='admin' && vm.user.roles.includes('user')"
                    class="md-btn md-btn-default md-btn-mini md-btn-wave-light md-btn-icon">
            <i class="uk-icon-exchange"></i>
            {{'PAGE.WORKSPACE.SIDEBAR.USER_PANEL'|translate}}
        </a>
        </div>
    </div>
    <div class="menu_section">
        <ul>
            <li ui-sref-active="current_section"
                ng-repeat="section in vm.sections"
                ng-switch="section.link.length > 0"
                ng-class="{'submenu_trigger': (section.submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (section.submenu.length > 0) && miniSidebarActive}"
                on-last-repeat><a ng-switch-when="true"
                                  ui-sref="{{section.link}}"
                                  ng-class="{'menu_tooltip' : miniSidebarActive}"> <span
                    class="menu_icon"><i class="material-icons"
                                         ng-bind-html="section.icon"></i></span> <span class="menu_title">{{section.title
						| translate}}</span>
            </a> <a ng-switch-when="false" href="#" ng-click="submenuToggle($event)">
					<span class="menu_icon"><i class="material-icons"
                                               ng-bind-html="section.icon"></i></span> <span class="menu_title">{{section.title
						| translate}}</span>
            </a>
                <ul ng-if="section.submenu">
                    <li ng-if="section.submenu_title" class="submenu-title">{{section.submenu_title
                        | translate}}
                    </li>
                    <li ng-repeat-start="item in section.submenu" ng-if="item.group"
                        class="menu_subtitle">{{item.group}}
                    </li>
                    <li ng-repeat-end
                        ng-class="{ act_item: $state.includes(item.link), 'submenu_trigger': (item.submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (item.submenu.length > 0) && miniSidebarActive }"
                        ng-include="'submenuTree'"></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
<script type="text/ng-template" id="submenuTree">
    <a ng-if="item.link" ui-sref="{{item.link}}">{{item.title | translate}}</a>
    <a ng-if="!item.link" href="#" ng-click="submenuToggle($event)">{{item.title | translate}}</a>
    <ul ng-if="item.submenu">
        <li ng-repeat="item in item.submenu" ng-include="'submenuTree'"
            ng-class="{ act_item: $state.includes(item.link), 'submenu_trigger': (item.submenu.length > 0) && !miniSidebarActive, 'sidebar_submenu': (item.submenu.length > 0) && miniSidebarActive }">
            <a ng-if="item.link" ui-sref="{{item.link}}">{{ item.title | translate }}</a>
            <a ng-if="!item.link" href="#" ng-click="submenuToggle($event)">{{ item.title | translate }}</a>
        </li>
    </ul>
</script>
