<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
                        <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text large">
                        {{'PAGE.LMS.MY_COURSES.TEACHER_BOARD.REPORT.COMPREHENSIVE'|translate}}
                    </h3>
                </div>

                        
                        <div class="md-card-content">
                                <user-register-chart day="vm.userStatsDay" > </user-register-chart>
                        </div>
            </div>
        </div>
    </div>



