<style type="text/css">
    .dataTables_wrapper .uk-overflow-container th, .dataTables_wrapper .uk-overflow-container td {
        padding: 10px 3px;
    }
</style>
<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">{{'PAGE.USERS.TITLE' | translate}}</h3>
        <div class="uk-grid" data-uk-grid-margin >
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-toolbar">
                    <h3 class="md-card-toolbar-heading-text">
                        {{'PAGE.ORGANIZATION.TITLE' | translate}} 
                             <a data-uk-modal="{target:'#modal_org'}"><i class="material-icons md-24 " data-uk-tooltip="{pos:'top'}" title="{{'PAGE.USERS.UPDATE_ORG_TREE'|translate}}">edit</i></a>
                    </h3>
                    </div>
                    <div class="md-card-content">                        
                        
                        <div id="orgTree" class="fancytree-checkbox">
                        </div>
                        <div class="dt_colVis_buttons"></div>
                        <table datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="uk-table" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-include="'/modules/users/client/views/admin/organization.client.dialog.html'"></div>
<div ng-include="'/modules/users/client/views/admin/import-users-client.dialog.html'"></div>
