<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">{{'PAGE.ORGANIZATION.TITLE' | translate}}</h3>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin" >
                             <a class="md-btn md-btn-default md-btn-wave-light md-btn-icon uk-margin-right uk-text-success" 
                             ng-click="vm.create()">
                                <i class="uk-icon-plus"></i>
                                {{'ACTION.CREATE' | translate}}
                            </a>
                            <a class="md-btn md-btn-default md-btn-wave-light md-btn-icon uk-margin-right  uk-text-default" ng-click="vm.rename()">
                                <i class="uk-icon-pencil"></i>
                                {{'ACTION.RENAME' | translate}}
                            </a>
                            
                            <a class="md-btn md-btn-default md-btn-wave-light md-btn-icon uk-margin-right  uk-text-danger"  ng-click="vm.remove()">
                                <i class="uk-icon-trash"></i>
                                {{'ACTION.REMOVE' | translate}}
                            </a>
                        
                        </div>
                        <div id="orgTree" class="fancytree-radio">
                         
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

       

    </div>
</div>