
	
<div class="toolbar-control vi-center" ng-mousemove="showToolbar=true"
	ng-mouseleave="hideToolbar()">
	<nav class="navbar-control" ng-show="showToolbar">
		<button class="btn-control btn-clear left-radius" ng-click="connect()"
			ng-show="!connected && !connecting" data-uk-tooltip="{pos:'bottom'}"
			title="{{'ACTION.CONNECT' |
		translate}}">
			<i class="material-icons md-color-grey-50">call</i>
		</button>
		<button class="btn-control btn-disconnect btn-clear left-radius"
			ng-click="disconnect()" ng-show="connected || connecting"
			data-uk-tooltip="{pos:'bottom'}"
			title="{{'ACTION.DISCONNECT' |
		translate}}">
			<i class="material-icons md-color-amber-900">call_end</i>
		</button>
		<button class="btn-control btn-clear" ng-click="toggleAudio()"
			ng-class="!audio ? 'btn-active' : ''"
			data-uk-tooltip="{pos:'bottom'}"
			title="{{audio? 'ACTION.AUDIO_OFF':'ACTION.AUDIO_ON' |
		translate}}">
			<i class="material-icons md-color-grey-50" ng-show="audio">volume_off</i>
			<i class="material-icons md-color-grey-50" ng-show="!audio">volume_up</i>
		</button>
		<button class="btn-control btn-clear" ng-click="toggleVideo()"
			ng-class="!video ? 'btn-active' : ''"
			data-uk-tooltip="{pos:'bottom'}"
			title="{{video? 'ACTION.VIDEO_OFF':'ACTION.VIDEO_ON' |
		translate}}">
			<i class="material-icons md-color-grey-50" ng-show="video">videocam_off</i>
			<i class="material-icons md-color-grey-50" ng-show="!video">videocam</i>
		</button>
		<button class="btn-control btn-clear" ng-click="toggleHand()" ng-show="member.role=='student' && connected"
			ng-class="handUp ? 'btn-active' : ''"
			data-uk-tooltip="{pos:'bottom'}"
			title="{{'ACTION.HAND_UP' |
		translate}}">
			<i class="uk-icon-hand-paper-o md-color-grey-50"></i>
		</button>
		<button class="btn-control btn-clear btn-signout right-radius"
			ng-click="signout()" data-uk-tooltip="{pos:'bottom'}"
			title="{{'ACTION.CLOSE' |
		translate}}">
			<i class="uk-icon-sign-out md-color-amber-900" aria-hidden="true"></i>
		</button>
	</nav>

	
</div>
