<div class="quiz-container" ng-show="!vm.completeCourse">
	<div ng-if="vm.startExercise ">
		<div class="uk-alert uk-alert-warning uk-text-center" data-uk-alert
			ng-show="vm.attempt.status=='completed'">{{vm.alert}}</div>
		<div ng-if="vm.attempt.status=='initial'">
				<homework-sheet questions="vm.questions" mode="'study'"></homework-sheet>
			<div class="uk-grid uk-margin-top">
				<div class="uk-width-1-2">
					<a class="md-btn  md-btn-wave-light md-btn-icon"
						ng-click="vm.saveHomework()"> <i class="uk-icon-save"></i>
						{{'ACTION.SAVE'|translate}}
					</a>
				</div>
				<div class="uk-width-1-2">
					<a class="md-btn md-btn-primary md-btn-wave-light  uk-align-right"
						ng-click="vm.submitHomework()">
						{{'ACTION.SUBMIT_HOMEWORK'|translate}} </a>
				</div>

			</div>

		</div>
		
		<div ng-if="vm.attempt.status=='completed'">
			<div ng-show="vm.exercise.type=='homework'">
				<homework-sheet attempt="vm.attempt" questions="vm.questions" mode="'result'"></homework-sheet>
			</div>


		</div>
		
	</div>


	<hr>
	<div class=" uk-text-center ">
		<a ng-click="vm.prevSection()"
			class="md-btn md-btn-flat  md-btn-mini "> <i
			class="uk-icon-chevron-left uk-text-primary"></i>
			{{'ACTION.PREV_SECTION'|translate}}
		</a> <a ng-click="vm.nextSection()"
			class="md-btn md-btn-flat  md-btn-mini  ">
			{{'ACTION.NEXT_SECTION'|translate}} <i
			class="uk-icon-chevron-right uk-text-primary"></i>
		</a>
	</div>
</div>

